<template name="changes">
  {{> pageHeading title='Virtual Servers' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>LTM Virtuals <small class="m-l-sm">Virtual Servers</small></h5>
            {{>iboxTools}}
          </div>
          <div class="ibox-content">
            {{> changesSearchBox}}
          </div>
          <div class="ibox-footer">
            <span class="pull-right">
              The righ side of the footer
            </span>
            <a href="#">Create New</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="unscheduledChangeList">
      Created on: {{dateCreated}} - <a href="/changes/{{_id}}">{{change.description}}</a>
       - {{change.theMethod}} <input type="checkbox" id="{{_id}}" name="{{_id}}">
</template>

<template name="changesCanceled">
  <div class="container">
  <center>
    <h3>Canceled Changes</h3>
  </center>
  <form class="changeForm">
  <ul>
    {{#each canceledChanges}}
      <li>{{> canceledChangeList}}</li>
    {{/each}}
  </ul>
  <select name="changeAction">
    <option value="uncancel">uncancel Changes</option>
  </select><br>
  <button class="submit" id="submit">Submit</button>
  </form>
</div>
</template>

<template name="canceledChangeList">
      Canceled on: {{cancelDate}} - <a href="/changes/{{_id}}">{{change.description}}</a>
       - {{change.theMethod}} <input type="checkbox" id="{{_id}}" name="{{_id}}">
</template>

<template name="changesCommitted">
  {{> pageHeading title='Committed Configuration Changes' category='Change Management' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Audit Log<small class="m-l-sm">Your changelogs</small></h5>
            {{>iboxTools}}
          </div>
          <div class="ibox-content">
            <form id="change-list" class="form-horizontal">
              {{> footableSearchBox objects="All Changes"}}
              <table class="footable table table-stripped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Change Action</th>
                    <th>Description</th>
                    <th>Succeeded</th>
                    <th>Output Details</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each allChanges}}
                    <tr>
                      <td>{{this.created}}</td>
                      <td>{{this.pushedBy.username}}</td>
                      <td>{{this.change.theMethod.action}}.{{this.change.theMethod.module}}.{{this.change.theMethod.object}}</td>
                      <td>{{this.change.description}}</td>
                      {{#if this.success}}
                      <td>Succeeded</td>
                      {{else}}
                      <td>Failed</td>
                      {{/if}}
                      <td>{{this.successOutput}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </form>
          </div>
          <div class="ibox-footer">
            <span class="pull-right">
              The righ side of the footer
            </span>
            <a href="/ltm/pools/create">Create New</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="pushedChangeList">
    Committed on: {{pushDate}} - <a href="/changes/{{_id}}">{{change.description}}</a>
     - {{change.theMethod}} <input type="checkbox" id="{{_id}}" name="{{_id}}">
</template>

<template name="changesScheduled">
  <div class="container">
  <center>
    <h3>Changes Scheduled</h3>
  </center>
  <form class="changeForm">
  <ul>
    {{#each scheduledChanges}}
      <li>{{> scheduledChangeList}}</li>
    {{/each}}
  </ul>
  {{> changeSelect}}
  <button class="submit" id="submit">Submit</button>
  </form>
</div>
</template>

<template name="scheduledChangeList">
    Scheduled on: {{scheduleDate}} - <a href="/changes/{{_id}}">{{change.description}}</a>
     - {{change.theMethod}} <input type="checkbox" id="{{_id}}" name="{{_id}}">
</template>

<template name="changesApproved">
  <div class="container">
  <center>
    <h3>Changes Approved</h3>
  </center>
  <form class="changeForm">
  <ul>
    {{#each approvedChanges}}
      <li>{{> approvedChangeList}}</li>
    {{/each}}
  </ul>
  {{> changeSelect}}
  {{#if changesetSelected}}
    hi
  {{/if}}
  <button class="submit" id="submit">Submit</button>
  </form>
</div>
</template>

<template name="changeSelect">
  <select id="changeAction" name="changeAction">
    <option value="push">Push Changes to Device</option>
    <option value="schedule">Schedule Changes</option>
    <option value="cancel">Cancel Changes</option>
    <option value="approve">Approve Changes</option>
    <option value="addtoset">Add to Changeset</option>
  </select><br>
</template>

<template name="changeSetList">
  <select name="changesetID">
    {{#each changesetList}}
      <option value={{_id}}>{{name}}</option>
    {{/each}}
  </select>
</template>

<template name="approvedChangeList">
    Approved on {{approveDate}} - <a href="/changes/{{_id}}">{{change.description}}</a>
     - {{change.theMethod}} <input type="checkbox" id="{{_id}}" name="{{_id}}">
</template>

<template name="changeDetails">
  <div class="container">
  <center>
    <h3>Change Details</h3>
  </center>
  <ul>
    <li>Created at: {{created}}</li>
    <li>Approved: {{approved}}</li>
    {{#if approved}}
      <li>Approved At:</li>
    {{/if}}
    <li>Committed on {{pushDate}}</li>
    <li>Title: {{change.description}}</li>
    <li>Function: {{change.theMethod}}</li>
  </ul>
</div>
</template>

<template name="changeset">
  <div class="container">
  <center>
    <h3>Changesets</h3>
  </center>
  <ul>
    {{#each changesetList}}
      <li><a href="/changeset/{{_id}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
  <form class="changesetForm">
  <button class="submit" id="submit">Create New</button>
  </form>
</div>
</template>

<template name="changesetDetails">
  <div class="container">
  <center>
    <h3>Changeset Details</h3>
  </center>
  <ul>
    <li>{{name}}</li>
    <li>Created at: {{created}}</li>
    <li>Description: {{description}}</li>
  </ul>
  <form class="changeUpdate">
    <ul>
      <input type="hidden" name="changeset_id" value="{{_id}}">
      <li>Update Name: <input type="text" id="name"></li>
      <li>Update Description: <input type="textarea" id="description"></li>

      {{#each changeList}}
        {{#with changesetDetails this}}
          <li><a href="/changes/{{_id}}">{{change.description}}</a></li>
        {{/with}}
      {{/each}}
      <br>
      <button class="submit" id="submit">Update</button>
    </ul>
  </form>
</div>
</template>

<template name="changeInfo">
</template>
