<template name="ltmPools">
  {{> pageHeading title='Pools' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="table-form" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>LTM Pools <small class="m-l-sm">Manage your LTM Pools</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> footableSearchBox}}
              <table class="footable table table-striped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Pool Name</th>
                    <th>On BIG-IP</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                {{#each allPools}}
                {{#if deleted}}
                {{else}}
                <tr>
                  <td data-value="{{statusImg}}"><img src="/{{statusImg}}"></td>
                  <td><a href="/ltm/pools/{{_id}}">{{name}}</a></td>
                  <td>{{getOnDevice this.onDevice}}</td>
                  <td><input type="checkbox" id="{{_id}}"></td>
                </tr>
                {{/if}}
                {{/each}}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                  <ul class="pagination pull-right hide-if-no-paging"></ul>
                  </td>
                </tr>
              </tfoot>
            </table>
            </div>
            <div class="ibox-footer"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="ltmPoolsCreate">
  {{> pageHeading title='Create A Pool' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title"><h5>Create A New Pool</h5>{{>iboxTools}}</div>
          <div class="ibox-content">
            <form id="create-form" class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-4"><input type="text" id="name" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">What type? </label>
                <div class="col-sm-6">
                  <select id="lbMethod" class="form-control col-sm-2">
                    <option selected="round-robin" value="round-robin">round-robin</option>
                    <option value="least-connections-member">least-connections-member</option>
                    <option value="dynamic-ratio-node">dynamic-ratio-node</option>
                    <option value="fastest-app-response">fastest-app-response</option>
                    <option value="fastest-node">fastest-node</option>
                    <option value="least-connections-member">least-connections-member</option>
                    <option value="least-connections-node">least-connections-node</option>
                    <option value="observed-member">observed-member</option>
                    <option value="observed-node">observed-node</option>
                    <option value="predictive-member">predictive-member</option>
                    <option value="predictive-node">predictive-node</option>
                    <option value="least-sessions">least-sessions</option>
                    <option value="ratio-least-connections-member">ratio-least-connections-member</option>
                    <option value="ratio-least-connections-node">ratio-least-connections-node</option>
                    <option value="ratio-member">ratio-member</option>
                    <option value="ratio-node">ratio-node</option>
                    <option value="ratio-session">ratio-session</option>
                    <option value="weighted-least-connections-member">weighted-least-connections-member</option>
                    <option value="weighted-least-connections-node">weighted-least-connections-node</option>
                  </select>
                </div>
              </div>
              {{> deviceList}}
              <div class="form-group"><label class="col-sm-2 control-label">What type? </label>
                <div class="col-sm-6">
                  <select id="monitor" class="form-control col-sm-2">
                    {{#each getMonitorList}}
                    <option id="{{fullPath}}" value="{{fullPath}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-primary" id="addMore">Add Members</button>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label"></label>
                <div class="col-sm-6">
                  {{#each inputs}}
                  {{> input}}
                  {{/each}}
                </div>
              </div>
              {{> description}}
              {{> submitCancelButtons}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="input">
  <div class="row">
    <div class="col-sm-6">
      <input type="text" id="{{uniqid}}_ip" name="memIP"><input type="text" id="{{uniqid}}_port" name="memPort">
      <button id="{{uniqid}}" class="remove btn btn-primary">Remove</button>
    </div>
  </div>
</template>

<template name="poolDetails">
  {{> pageHeading title='Pool Details' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title"><h5>Pool Members on {{name}}</h5>{{>iboxTools}}</div>
          <div class="ibox-content">
              <form id="table-form" class="form-horizontal">
                {{> footableSearchBox}}
                <input type="hidden" name="poolName" value="{{_id}}">
                <input type="hidden" name="onDevice" value="{{onDevice}}">
                <div class="form-group"><label class="col-sm-2 control-label">Pool Members</label>
                  <div class="col-sm-4">
                    <table class="footable table table-striped" data-page-size="15" data-filter=#filter>
                      <thead>
                        <tr>
                          <th>Status</th>
                          <th>Member</th>
                          <th>Select</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each members}}
                          <tr>
                            <td><img src="/{{statusImg}}"></td>
                            <td>{{name}}</td>
                            <td><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></td>
                          </tr>
                        {{/each}}
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="5">
                          <ul class="pagination pull-right hide-if-no-paging"></ul>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                    <button type="button" class="btn btn-white" data-toggle="modal" data-target="#modal-pool-member-form">Add Pool Member</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title"><h5>Update Pool Configuration for {{name}}</h5>{{>iboxTools}}</div>
          <div class="ibox-content">
            <form id="pool-settings" class="form-horizontal">
              <input type="hidden" name="poolName" value="{{_id}}">
              <input type="hidden" name="onDevice" value="{{onDevice}}">
              <div class="form-group"><label class="col-sm-2 control-label">Monitor</label>
                <div class="col-sm-6">
                  <select id="monitor" class="form-control m-b" name="monitor" multiple>
                    <option selected="{{monitor}}" value="{{monitor}}">{{monitor}}</option>
                    {{#each getMonitorList onDevice}}
                      <option value="{{fullPath}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Load Balancing Method</label>
                <div class="col-sm-4">
                  <select id="lbmethod" class="form-control m-b" name="lbmethod">
                    <option selected={{loadBalancingMode}} value={{loadBalancingMode}}>{{loadBalancingMode}}</option>
                    <option value="predictive-node">predictive-node</option>
                    <option value="dynamic-ratio-node">dynamic-ratio-node</option>
                    <option value="ratio-least-connections-member">artio-least-connections-member</option>
                    <option value="fastest-app-response">fastest-app-response</option>
                    <option value="ratio-least-connections-node">ratio-least-connections-node</option>
                    <option value="fastest-node">fastest-node</option>
                    <option value="ratio-member">ratio-member</option>
                    <option value="least-connections-member">least-connections-member</option>
                    <option value="atio-node">ratio-node</option>
                    <option value="least-connections-node">least-connections-node</option>
                    <option value="ratio-session">ratio-session</option>
                    <option value="least-sessions">least-sessions</option>
                    <option value="round-robin">round-robin</option>
                    <option value="observed-member">observed-member</option>
                    <option value="weighted-least-connections-member">weighted-least-connections-member</option>
                    <option value="observed-node">observed-node"</option>
                    <option value="weighted-least-connections-node">weighted-least-connections-node</option>
                    <option value="predictive-member">predictive-member</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-white" type="submit">Cancel</button>
                  <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-pool-member-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Add a Pool member</h3>
              <form id="pool-member-add">
                <input type="hidden" name="poolID" value="{{_id}}">
                <input type="hidden" name="onDevice" value="{{onDevice}}">
                <div class="form-group"><label>IP Address</label><input type="text" name="memIP" placeholder="IP Address" class="form-control"/></div>
                <div class="form-group"><label>Port</label><input type="text" name="memPort" placeholder="Port" class="form-control"/></div>
                <div>
                  <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Add</strong></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
