<template name="ltmVirtuals">
  <form id="virtual-servers" class="form-horizontal">
    {{> pageHeading title='Virtual Servers' category='LTM' }}
    <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>LTM Virtuals <small class="m-l-sm">Virtual Servers</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> footableSearchBox}}
              <table class="footable table table-striped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>Status</th>
                    <th data-sort-initial="true">Virtual Name</th>
                    <th>Destination</th>
                    <th>On BIG-IP</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each allVirtuals}}
                    {{#if deleted}}
                    {{else}}
                      <tr>
                        <td data-value="{{statusImg}}"><img src="/{{statusImg}}"></td>
                        <td data-value="{{name}}"><a href="/ltm/virtuals/{{_id}}">{{name}}</a></td>
                        <td>{{destination}}</td>
                        <td>{{getOnDevice onDevice}}</td>
                        <td><input type="checkbox" id="{{_id}}" name="{{_id}}"></td>
                      </tr>
                    {{/if}}
                  {{/each}}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                    <ul class="pagination pull-right hide-if-no-paging"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="ibox-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<template name="virtualDetails">
  {{> pageHeading title='Virtual Details' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title"><h5>Update Virtual Configuration for {{name}}</h5>{{>iboxTools}}</div>
          <div class="ibox-content">
            <form id="virtual-settings" class="form-horizontal">
              <input type="hidden" name="virtualName" value="{{_id}}">
              <input type="hidden" name="onDevice" value="{{onDevice}}">
              <div class="form-group"><label class="col-sm-2 control-label">Destination(Listening IP)</label>
                <div class="col-sm-4"><input type="text" id="destination" value="{{destination}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Network Mask</label>
                <div class="col-sm-4"><input type="text" id="mask" value="{{mask}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Source Network</label>
                <div class="col-sm-4"><input type="text" id="source" value="{{source}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Protocol</label>
                <div class="col-sm-6">
                  <select id="protocol" class="form-control col-sm-2" name="protocol" multiple>
                    <option selected="{{ipProtocol}}" value="{{ipProtocol}}">{{ipProtocol}}</option>
                    <option value="tcp">TCP</option>
                    <option value="udp">UDP</option>
                    <option value="any">Any</option>
                  </select>
                </div>
              </div>
              {{#if vlansDisabled}}
              <div class="form-group"><label class="col-sm-2 control-label">VLANs(Interfaces)</label>
                <div class="col-sm-6">
                  <select id="vlans" class="form-control col-sm-2" name="vlans" multiple>
                    <option value="all">All</option>
                  </select>
                </div>
              </div>
              {{else}}
              <div class="form-group"><label class="col-sm-2 control-label">VLANs(Interfaces)</label>
                <div class="col-sm-6">
                  <select id="vlans" class="form-control col-sm-2" name="vlans" multiple>
                    {{#each vlans}}
                    <option selected value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                    {{#each getAllvlans onDevice}}
                    <option selected value="{{name}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              {{/if}}
              <div class="form-group"><label class="col-sm-2 control-label">SNAT</label>
                <div class="col-sm-6">
                  <select id="protocol" class="form-control col-sm-2" name="protocol" multiple>
                    <option selected="{{sourceAddressTranslation.type}}" value="{{sourceAddressTranslation.type}}">{{sourceAddressTranslation.type}}</option>
                    <option value="auto">Auto Map</option>
                    <option value="none">None</option>
                    <option value="tovip">Snat To VIP</option>
                  </select>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">iRules</label>
                <div class="col-sm-6">
                  <select id="irules" class="form-control col-sm-2" name="irules" multiple>
                    {{#each rules}}
                      <option selected value="{{this}}">{{this}}</option>
                    {{/each}}
                    {{#each getAllrules onDevice}}
                      <option value="{{name}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-white" type="submit">Cancel</button>
                  <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="tcpProfileDropdown">
  <select>
    <option value="none">none</option>
  {{#each allTcp}}
    <option value="{{_id}}">{{name}}</option>
  {{/each}}
  </select>
</template>

<template name="ltmVirtualsCreate">
  {{> pageHeading title='Create Virtual Server' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title"><h5>Create A Virtual Server</h5>{{>iboxTools}}</div>
          <div class="ibox-content">
            <form id="virtual-settings" class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-4"><input type="text" id="mask" value="{{mask}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">IP (Destination)</label>
                <div class="col-sm-4"><input type="text" id="destination" value="{{destination}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Port</label>
                <div class="col-sm-4"><input type="text" id="destination" value="{{destination}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">SSL/HTTPS? </label>
                <div class="col-sm-6">
                  <select id="ssl_type" class="form-control col-sm-2" name="ssl_type">
                    <option selected="none" value="none">None</option>
                    <option value="offload">Offload</option>
                    <option value="bridge">Bridging</option>
                  </select>
                </div>
              </div>
              {{> deviceList}}
              <div class="form-group"><label class="col-sm-2 control-label">Persistence/Sticky Session?</label>
                <div class="col-sm-6">
                  <select id="persistence" class="form-control col-sm-2" name="persistence">
                    <option selected="none" value="none">None</option>
                    {{#each getPersistenceList}}
                      <option value="{{fullPath}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">SNAT</label>
                <div class="col-sm-6">
                  <select id="persistence" class="form-control col-sm-2" name="persistence">
                    <option selected="automap" value="automap">automap</option>
                    <option value="none">None</option>
                    <option value="snat_to_vip_pool">Snat to VIP Pool</option>
                    <option value="snat_to_vip_pool">Snat to VIP iRule</option>
                  </select>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Default Pool</label>
                <div class="col-sm-6">
                  <select id="persistence" class="form-control col-sm-2" name="persistence">
                    <option selected="none" value="none">None</option>
                    {{#each getPoolList}}
                      <option value="{{fullPath}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-white" type="button" data-toggle="modal" data-target="#addPoolModal">Add Pool</button>
                </div>
              </div>
              {{> description}}
              {{> submitCancelButtons}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="addPoolModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add a Pool</h4>
        </div>
        <div class="modal-body">
          <form id= "pool-form">
            <div class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">Pool Name</label>
                <div class="col-sm-4"><input type="text" id="poolName" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">LB Method </label>
                <div class="col-sm-6">
                  <select id="lbMethod" class="form-control col-sm-2" name="lbMethod">
                    <option selected="round-robin" value="round-robin">round-robin</option>
                    <option value="least-connections-member">least-connections-member</option>
                    <option value="dynamic-ratio-node">dynamic-ratio-node</option>
                    <option value="fastest-app-response">fastest-app-response</option>
                    <option value="fastest-node">fastest-node</option>
                    <option value="least-connections-member">least-connections-member</option>
                    <option value="least-connections-node">least-connections-node</option>
                    <option value="observed-member">observed-member</option>
                    <option value="observed-node">observed-node</option>
                    <option value="predictive-member">predictive-member</option>
                    <option value="predictive-node">predictive-node</option>
                    <option value="least-sessions">least-sessions</option>
                    <option value="ratio-least-connections-member">ratio-least-connections-member</option>
                    <option value="ratio-least-connections-node">ratio-least-connections-node</option>
                    <option value="ratio-member">ratio-member</option>
                    <option value="ratio-node">ratio-node</option>
                    <option value="ratio-session">ratio-session</option>
                    <option value="weighted-least-connections-member">weighted-least-connections-member</option>
                    <option value="weighted-least-connections-node">weighted-least-connections-node</option>
                  </select>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Monitor </label>
                <div class="col-sm-6">
                  <select id="monitor" class="form-control col-sm-2" name="monitor">
                    <option selected="none" value="none">none</option>
                    {{#each getMonitorList}}
                      <option value="{{fullPath}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Add Pool Members </label>
                <div class="col-sm-4"><button class="addMore" id="addMore">Add Members</button></div>
              </div>
            </div>
            {{#each inputs}}
              {{> virtualInput}}
            {{/each}}
            <div class="form-horizontal">
              {{> submitCancelButtons}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="virtualInput">
  <div class="form-inline">
    <div class="form-group">
      <label for="{{uniqid}}_ip">IP</label>
      <input type="text" id="{{uniqid}}_ip" name="memIP">
    </div>
    <div class="form-group">
      <label for="{{uniqid}}_port">Port</label>
      <input type="text" id="{{uniqid}}_port" name="memPort">
    </div>
    <div class="form-group">
      <button id="{{uniqid}}" class="remove btn btn-primary">Remove</button>
    </div>
  </div>
</template>
