<template name="ltmMonitors">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="ltmMonitorsForm" class="form-horizontal">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>LTM Monitor <small class="m-l-sm">Manage your LTM Monitors</small></h5>
                {{>iboxTools}}
              </div>
              <div class="ibox-content">
                <ul>
                  <li>Type: tcp-half-open <a href="/ltm/monitors/tcp-half-open/create">Create New</a></li>
                  <li>Type: http <a href="/ltm/monitors/http/create">Create New</a></li>
                </ul>
                {{> monitorsSearchBox}}
                <div class="form-group"><label class="col-sm-2 control-label">Action</label>
                  <div class="col-sm-4">
                    <select id="objectAction" class="form-control m-b">
                      <option value="delete">Delete(!)</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-primary" type="submit">Update</button>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                    <button type="button" class="btn btn-white" data-toggle="modal" data-target="#modal-pool-member-form">Add Monitor</button>
                  </div>
                </div>
              </div>
              <div class="ibox-footer">
                <span class="pull-right">
                  The righ side of the footer
                </span>
                <a href="/ltm/monitors/create">Create New</a>
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>
</template>

<template name="diameterMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="dnsMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="externalMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="firepassMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="ftpMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="gatewayicmpMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="httpMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="httpsMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="icmpMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="imapMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="inbandMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="ldapMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="modulescoreMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="mssqlMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="mysqlMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="nntpMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="noneMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="oracleMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="pop3MonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="postgresqlMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="radiusMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="radiusaccountingMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="realserverMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="rpcMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="saspMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="scriptedMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="sipMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="smbMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="smtpMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="snmpdcaMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="snmpdcabaseMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="soapMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="tcpMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="tcpechoMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="tcphalfopenMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="udpMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="virtuallocationMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="wapMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="wmiMonitorDetails">
  {{> pageHeading title='Monitors' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="monitorForm" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Details for Monitor {{name}} <small class="m-l-sm">Manage your LTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <h2>Unsupported for editing on honeyb: {{name}}</h2>
                {{#each myProps}}
                <div class="form-group"><label class="col-sm-4 control-label">{{this}}</label>
                  <div class="col-sm-4"><input type="text" name="sshuser" class="form-control" value="{{getThis this}}"/></div>
                </div>
                {{/each}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
