<template name="ltmProfileTcpCreate">
</template>
<template name="certificateAuthorityProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="classificationProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="clientLdapProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="clientSslProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="dhcpv4ProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="dhcpv6ProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="diameterProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="dnsProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="dnsLoggingProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="fasthttpProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="fastl4ProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="fixProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="ftpProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="gtpProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="htmlProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="httpProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="httpCompressionProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="http2ProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="icapProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="iiopProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="ipotherProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="mblbProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="mssqlProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="ntlmProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="ocspStaplingParamsProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="oneConnectProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="pptpProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="qoeProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="radiusProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="requestAdaptProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="requestLogProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="responseAdaptProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="rewriteProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="rtspProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="sctpProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="serverLdapProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="serverSslProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="sipProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="smtpsProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="socksProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="spdyProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="statisticsProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="streamProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="tcpProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="udpProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="webAccelerationProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>

<template name="xmlProfileDetails">
  <div class="container">
    <center>
      <h3>View/Edit/Update {{name}}</h3>
    </center>
    <li>
      <ul>Parent: {{defaultsFrom}}</ul>
      {{#each myProps}}
        <li>{{this}}: {{getThis this}}</li>
      {{/each}}
    </li>
  </div>
</template>
