<template name="ltmRules">
  {{> pageHeading title='LTM' category='iRules' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="iruleForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>iRules <small class="m-l-sm">iRules are TCL based script to modify traffic</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> footableSearchBox objects="iRules"}}
              <table class="footable table table-stripped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>iRule Name</th>
                    <th>On BIG-IP</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each getRules}}
                    <tr>
                      <td><a href="/ltm/rules/{{_id}}">{{name}}</a></td>
                      <td>{{getOnDevice this.onDevice}}</td>
                      <td><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
              This is simple footer example
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="ruleDetails">
  {{> pageHeading title='iRule Details' category='LTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="poolMemberForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>LTM iRules <small class="m-l-sm">Manage your LTM iRules</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> CodeMirror id="iruleBox" name="iruleBox" options=editorOptions code=apiAnonymous}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
