<template name="sslCerts">
  {{> pageHeading title='Certificates' category='SSL' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>SSL Certificates <small class="m-l-sm">SSL</small></h5>
            {{>iboxTools}}
          </div>
          <div class="ibox-content">
            <div class="hr-line-dashed"></div>
            <form id="certificate-form" class="form-horizontal">
              {{> footableSearchBox objects="Certificates"}}
              <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Common Name</th>
                    <th>On BIG-IP</th>
                    <th>Expiration</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each allCerts}}
                  <tr>
                    <td><a href="/ssl/certs/{{_id}}">{{name}}</a></td>
                    <td>{{commonName}}</td>
                    <td>{{getOnDevice onDevice}}</td>
                    <td data-type="numeric" data-value="{{epochExpirationDate}}">{{expirationDate}}</td>
                  </tr>
                  {{/each}}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                    <ul class="pagination pull-right"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
              <div class="hr-line-dashed"></div>
              <div class="form-group"><label class="col-sm-2 control-label">Action</label>
                <div class="col-sm-4">
                  <select id="objectAction" class="form-control m-b">
                    <option value="delete">Delete(!)</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-primary" type="submit">Update</button>
                </div>
              </div>
            </form>
          </div>
          <div class="ibox-footer">
            <span class="pull-right">
              The righ side of the footer
            </span>
            <a href="/ltm/virtuals/create">Create New</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="sslKeys">
  {{> pageHeading title='Keys' category='SSL' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>SSL Certificates <small class="m-l-sm">SSL</small></h5>
            {{>iboxTools}}
          </div>
          <div class="ibox-content">
            {{> footableSearchBox objects="SSL Keys"}}
            <div class="hr-line-dashed"></div>
            <form id="virtual-servers" class="form-horizontal">
              <table class="footable table table-stripped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Key Size</th>
                    <th>Key Type</th>
                    <th>On BIG-IP</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each allKeys}}
                  <tr>
                    <td><a href="/ssl/certs/{{_id}}">{{name}}</a></td>
                    <td>{{keySize}}</td>
                    <td>{{keyType}}</td>
                    <td>{{getOnDevice this.onDevice}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class="hr-line-dashed"></div>
              <div class="form-group"><label class="col-sm-2 control-label">Action</label>
                <div class="col-sm-4">
                  <select id="objectAction" class="form-control m-b">
                    <option value="delete">Delete(!)</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-primary" type="submit">Update</button>
                </div>
              </div>
            </form>
          </div>
          <div class="ibox-footer">
            <span class="pull-right">
              The righ side of the footer
            </span>
            <a href="/ltm/virtuals/create">Create New</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="sslCsrs">
  <div class="container">
  <center>
    <h3>Cert Signing Request Management</h3>
  </center>
  <ul>
    {{#each allCsrs}}
      <li>
        <a href="/ssl/csrs/{{_id}}">{{name}}</a>
      </li>
    {{/each}}
  </ul>
</div>
</template>

<template name="sslProfiles">
  {{> pageHeading title='Profiles' category='SSL' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>SSL Profiles <small class="m-l-sm">SSL</small></h5>
            {{>iboxTools}}
          </div>
          <div class="ibox-content">
            {{> footableSearchBox objects="SSL Profiles"}}
            <div class="hr-line-dashed"></div>
            <form id="virtual-servers" class="form-horizontal">
              <table class="footable table table-stripped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>On BIG-IP</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each allClientsslProfiles}}
                  <tr>
                    <td><a href="/ltm/profiles/{{_id}}">{{name}}</a></td>
                    <td>{{getOnDevice onDevice}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class="hr-line-dashed"></div>
              <div class="form-group"><label class="col-sm-2 control-label">Action</label>
                <div class="col-sm-4">
                  <select id="objectAction" class="form-control m-b">
                    <option value="delete">Delete(!)</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-primary" type="submit">Update</button>
                </div>
              </div>
            </form>
          </div>
          <div class="ibox-footer">
            <span class="pull-right">
              The righ side of the footer
            </span>
            <a href="/ltm/virtuals/create">Create New</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="keyDetails">
  <div class="container">
  <center>
    <h3>Key Details</h3>
    {{name}}
  </center>
  <span style="white-space: pre-wrap"> {{pemFormat}} </span>
  <form class="poolMemberForm">
    <input type="hidden" name="keyid" value="{{_id}}">
    <input type="hidden" name="onDevice" value="{{onDevice}}">

    <button class="submit" id="submit">Submit</button>
  </form>
</div>
</template>

<template name="certDetails">
  <div class="container">
  <center>
    <h3>Certificate Details</h3>
    {{name}}
  </center>
  <span style="white-space: pre-wrap"> {{pemFormat}} </span>
</div>
</template>

<template name="sslprofileDetails">
  {{> pageHeading title='Profiles' category='SSL' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>SSL Profile {{name}} <small class="m-l-sm">SSL</small></h5>
            {{>iboxTools}}
          </div>
          <div class="ibox-content">
            {{name}}
            Certificate: {{cert}}
            Key: {{key}}
            Cipher List: {{ciphers}}
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
