<template name="devices">
  {{> pageHeading title='Device List' category='Devices' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="table-form" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Devices <small class="m-l-sm">Manage your BIG-IP devices</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> footableSearchBox}}
              <table class="footable table table-striped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>Device Name</th>
                    <th>Device IP</th>
                    <th>Failover State</th>
                    <th>Link to GUI</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                {{#each allDevices}}
                  <tr>
                    <td><a href="/devices/{{_id}}">{{self.name}}</a></td>
                    <td>{{mgmtAddress}}<input type="hidden" id="addr" value="{{mgmtAddress}}"></td>
                    <td>{{self.failoverState}}</td>
                    <td><a href="https://{{mgmtAddress}}/" target="_blank">Open Management Console</a></td>
                    <td><input type="checkbox" id="{{mgmtAddress}}" name="{{this._id}}"></td>
                  </tr>
                  {{/each}}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                    <ul class="pagination pull-right hide-if-no-paging"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="ibox-footer"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="addDevice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    {{> discoverSingle}}
  </div>
</template>

<template name="discoverSingle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add a device</h4>
      </div>
      <div class="modal-body">
        <form id= "add-device" class="form-horizontal">
          <div class="form-group"><label class="col-sm-4 control-label">BIG-IP Management IP</label>
            <div class="col-sm-4"><input type="text" name="mgmtip" class="form-control"/></div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group"><label class="col-sm-4 control-label">Enable Rest Discovery (11.5+)</label>
            <div class="col-sm-4"><input type="checkbox" id="restDiscover" name="restDiscover" class="form-control" checked/></div>
          </div>
          <div id="restInfo">
            <div class="form-group"><label class="col-sm-4 control-label">Admin User</label>
              <div class="col-sm-4"><input type="text" name="mgmtuser" class="form-control"/></div>
            </div>
            <div class="form-group"><label class="col-sm-4 control-label">Admin Password</label>
              <div class="col-sm-4"><input type="password" name="mgmtpass" class="form-control"/></div>
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group"><label class="col-sm-4 control-label">Enable SSH for Archives & iHealth(10.2+)</label>
            <div class="col-sm-4"><input type="checkbox" id="sshDiscover" name="sshDiscover" class="form-control" checked/></div>
          </div>
          <div id="sshInfo">
            <div class="form-group"><label class="col-sm-4 control-label">SSH User</label>
              <div class="col-sm-4"><input type="text" name="sshuser" class="form-control"/></div>
            </div>
            <div class="form-group"><label class="col-sm-4 control-label">SSH Password</label>
              <div class="col-sm-4"><input type="password" name="sshpass" class="form-control"/></div>
            </div>
          </div>
          <center>
            {{#if getJobId}}
              {{> jobStatus getJobId}}
            {{/if}}
          </center>
          <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Discover</strong></button>
        </form>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</template>

<template name="jobStatus">
  {{#with getJob name}}
  {{name}}
    Job Name: {{name}}<br>
    Status: {{status}}
    <div class="progress progress-striped active">
      <div aria-valuemax="100" style="width: {{progress}}%" aria-valuemin="0" aria-valuenow="{{progress}}" role="progressbar" class="progress-bar progress-bar-success">
        <span class="sr-only">{{progress}}% Complete</span>
      </div>
    </div>
  {{/with}}
</template>

<template name="showModal">
  <div class="modal fade in" id="showModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{self.name}}</h4>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
</template>

<template name="deviceNetworkChart">
  <div class="col-lg-11">
      <canvas id="lineChart" height="70"></canvas>
  </div>
</template>

<template name="deviceDetails">
  {{> pageHeading title="Device Details" category='Devices' }}
  <div class="wrapper wrapper-content animated fadeIn">
    {{#if restEnabled}}
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>{{self.name}} CPU Usage & Diskspace <small class="m-l-sm">Manage your BIG-IP devices</small></h5>
            {{>iboxTools}}
          </div>
          <div class="ibox-content">
            <div class="row">
              <div class="col-lg-4">
                <center>CPU Usage</center>
              </div>
              <div class="col-lg-8">
                <center>Disk Usage</center>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <canvas id="donutChart" height="100"></canvas>
              </div>
              <div class="col-lg-8">
                {{#with diskSpace}}
                  {{> diskUsage}}
                {{/with}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Network Traffic <small class="m-l-sm">Manage your BIG-IP devices</small></h5>
            {{>iboxTools}}
          </div>
          <div class="ibox-content" style="height: 350px;">
            {{> deviceNetworkChart}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Configuration Details</h5>
              {{>iboxTools}}
          </div>
          <div class="ibox-content">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Management IP</th>
                  <th>Base MAC</th>
                  <th>Failover State</th>
                  <th>Peer Name</th>
                  <th>REST User</th>
                  <th>SSH User</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{mgmtAddress}}</td>
                  <td>{{self.baseMac}}</td>
                  <td>{{self.failoverState}}</td>
                  <td>{{peer.name}}</td>
                  <td>{{mgmtUser}}</td>
                  <td>{{sshUser}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                  <ul class="pagination pull-right hide-if-no-paging"></ul>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Software/Hardware Details</h5>
              {{>iboxTools}}
          </div>
          <div class="ibox-content">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Version</th>
                  <th>Build</th>
                  <th>End of Support</th>
                  <th>Platform Name</th>
                  <th>Platform ID</th>
                  <th>End of Support</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{mgmtAddress}}</td>
                  <td>{{self.version}}</td>
                  <td>{{self.build}}</td>
                  <td>{{self.marketingName}}</td>
                  <td>{{self.platform}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                  <ul class="pagination pull-right hide-if-no-paging"></ul>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Provisioning & License Details</h5>
              {{>iboxTools}}
          </div>
          <div class="ibox-content">
            <dl>
              <dt>Licensed Features:</dt>
              <dd>{{self.activeModules}}</dd>
              {{> provisionedModules}}
            </dl>
          </div>
        </div>
      </div>
    </div>
    {{else}}
    Rest not enabled, limited access to device
    {{/if}}
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Create Archives & QKviews<small class="m-l-sm">Manage your BIG-IP devices</small></h5>
            {{>iboxTools}}
          </div>
          <div class="ibox-content">
            <div class="btn-group">
              <form class="qkviewForm">
                <input type="hidden" name="device_id" value="{{_id}}">
                <button class="btn btn-primary submit">Create and Upload a Qkview</button>
              </form>
              <form class="archiveForm">
                <input type="hidden" name="device_id" value="{{_id}}">
                <button class="btn btn-primary submit">Create an Archive</button>
              </form>
              <form id="stats-form">
                <input type="hidden" name="device_id" value="{{_id}}">
                <button class="btn btn-primary submit">Testing Button</button>
              </form>
              <form id="remove-form">
                <input type="hidden" name="deviceId" value="{{_id}}">
                <input type="hidden" name="mgmtip" value="{{mgmtAddress}}">
                <button class="btn btn-primary submit">Remove Device from honeyb</button>
              </form>
            </div>
          </div>
          <div class="ibox-footer"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Device Settings<small class="m-l-sm">Manage your BIG-IP devices</small></h5>
            {{>iboxTools}}
          </div>
          <div class="ibox-content">
            <form id="device-settings" class="form-horizontal">
              <input type="hidden" name="device_id" value="{{_id}}">
              <div class="form-group"><label class="col-sm-2 control-label">Collect Statistics</label>
                <div class="col-sm-4"><input type="checkbox" id="getStats"></div>
              </div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-white" type="submit">Cancel</button>
                  <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
              </div>
            </form>
          </div>
          <div class="ibox-footer"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="provisionedModules">
  Modules:
  <ul>
    <li>LTM: {{provision_level.ltm}}</li>
    <li>GTM: {{provision_level.gtm}}</li>
    <li>ASM: {{provision_level.asm}}</li>
    <li>APM: {{provision_level.apm}}</li>
    <li>AFM: {{provision_level.afm}}</li>
    <li>AVR: {{provision_level.avr}}</li>
    <li>LC: {{provision_level.lc}}</li>
    <li>AAM: {{provision_level.am}}</li>
    <li>SWG: {{provision_level.swg}}</li>
  </ul>
</template>

<template name="diskUsage">
  <canvas id="diskChart" width="800" height="200"></canvas>
  {{#each diskSpace}}
  <ul>
    <li>Disk Partition: {{partition}}
      <ul>
        <li>{{freeBlocks}} free / {{totalBlocks}} total Block size: {{blockSize}}</li>
      </ul>
    </li>
  </ul>
  {{/each}}
</template>

<template name="scheduleTemplate">
  Minute:
  <select name="minute" id="minute">
    <option value="0">00</option>
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="45">45</option>
  </select> Hour:
  <select name="hour" id="hour">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">22</option>
  </select>
  <select name="dayOfWeek" id="dayOfWeek">
    <option value="1">Sunday</option>
    <option value="2">Monday</option>
    <option value="3">Tuesday</option>
    <option value="4">Wednesday</option>
    <option value="5">Thursday</option>
    <option value="6">Friday</option>
    <option value="7">Saturday</option>
  </select>
  <select name="frequency" id="frequency">
    <option value="weekly">Weekly</option>
    <option value="biweekly">Bi-Weekly</option>
    <option value="monthly">Monthly</option>
  </select>
</template>

<template name="onceSelect">
  Pick a time, in:
  <select name="atTime" id="atTime">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="45">45</option>
  </select>
  <select name="unit" id="unit">
    <option value="minute">Minute(s)</option>
    <option value="hour">Hour(s)</option>
    <option value="day">Days(s)</option>
    <option value="week">Week(s)</option>
  </select>
</template>

<template name="fullOnceSelect">
  <select name="hour" id="hour">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
  </select>
  <select name="minute" id="minute">
    <option value="0">00</option>
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="45">45</option>
  </select> Or Pick a time, in:
  <select name="atTime" id="atTime">
    <option selected value="none">None</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="45">45</option>
  </select>
  <select name="unit" id="unit">
    <option value="minute">Minute(s)</option>
    <option value="hour">Hour(s)</option>
    <option value="day">Days(s)</option>
    <option value="week">Week(s)</option>
  </select>
</template>

<template name="d3vis">
  <div class="d3board" height="150px" width="600px">
    <svg id="d3vis"></svg>
  </div>
</template>

<template name="devicesArchives">
  {{> pageHeading title='Archives(UCS)' category='Devices' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="iruleForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Devices <small class="m-l-sm">Manage your BIG-IP Archives</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> footableSearchBox}}
              <form id="table-form" class="form-horizontal">
                <table class="footable table table-striped" data-page-size="15" data-filter=#filter>
                  <thead>
                    <tr>
                      <th>Device</th>
                      <th>Save as</th>
                      <th>UCS Name</th>
                      <th>Size</th>
                      <th>Created</th>
                      <th>Select</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each getArchives}}
                      <tr>
                        <td><a href="/devices/{{this.metadata.onDevice}}">{{this.metadata.onDeviceName}}</a></td>
                        <td><a href="{{this.url}}">Download</a></td>
                        <td>{{this.name}}</td>
                        <td>{{round this.size}}</td>
                        <td>{{this.uploadedAt}}</td>
                        <td><input type="checkbox" name="{{this._id}}"></td>
                      </tr>
                    {{/each}}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="5">
                      <ul class="pagination pull-right hide-if-no-paging"></ul>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </form>
            </div>
            <div class="ibox-footer"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="devicesQkviews">
  {{> pageHeading title='QKViews' category='Devices' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="iruleForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Devices <small class="m-l-sm">Manage your BIG-IP QKViews</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              <form class="qkviewForm" name="qkviewForm">
              </form>
            </div>
            <div class="ibox-footer"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
