<template name="devices">
  {{> pageHeading title='Device List' category='Devices' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form id="device-form" class="form-horizontal">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Devices <small class="m-l-sm">Manage your BIG-IP devices</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> devicesSearchBox}}
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
              {{> discoverSingle}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="discoverSingle">
  <button type="button" class="btn" data-toggle="modal" data-target="#addDevice">
    Add new BIG-IP
  </button>

  <!-- Modal -->
  <div class="modal fade" id="addDevice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Add a device</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group"><label class="col-sm-4 control-label">BIG-IP Management IP</label>
              <div class="col-sm-4"><input type="text" name="mgmtip" class="form-control"/></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-4 control-label">Enable Rest Discovery (11.5+)</label>
              <div class="col-sm-4"><input type="checkbox" id="restDiscover" name="restDiscover" class="form-control" checked/></div>
            </div>
            <div id="restInfo">
              <div class="form-group"><label class="col-sm-4 control-label">Admin User</label>
                <div class="col-sm-4"><input type="text" name="mgmtuser" class="form-control"/></div>
              </div>
              <div class="form-group"><label class="col-sm-4 control-label">Admin Password</label>
                <div class="col-sm-4"><input type="password" name="mgmtpass" class="form-control"/></div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-4 control-label">Enable SSH for Archives & iHealth(10.2+)</label>
              <div class="col-sm-4"><input type="checkbox" id="sshDiscover" name="sshDiscover" class="form-control" checked/></div>
            </div>
            <div id="sshInfo">
              <div class="form-group"><label class="col-sm-4 control-label">SSH User</label>
                <div class="col-sm-4"><input type="text" name="sshuser" class="form-control"/></div>
              </div>
              <div class="form-group"><label class="col-sm-4 control-label">SSH Password</label>
                <div class="col-sm-4"><input type="password" name="sshpass" class="form-control"/></div>
              </div>
            </div>
            <center>
              {{#if getJobId}}
                {{> jobStatus getJobId}}
              {{/if}}
            </center>
            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Add</strong></button>
          </form>
          <br>
        </div>
        <div class="modal-footer">
          <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="jobStatus">
  {{#with getJob name}}
  {{name}}
    Job Name: {{name}}<br>
    Status: {{status}}
    <div class="progress progress-striped active">
      <div aria-valuemax="100" style="width: {{progress}}%" aria-valuemin="0" aria-valuenow="{{progress}}" role="progressbar" class="progress-bar progress-bar-success">
        <span class="sr-only">{{progress}}% Complete</span>
      </div>
    </div>
  {{/with}}
</template>

<template name="deviceList">
  <li>
     <button>Details</button>
  </li>
</template>

<template name="showModal">
  <div class="modal fade in" id="showModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{self.name}}</h4>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
</template>

<template name="deviceNetworkChart">
  <div class="col-lg-11">
      <canvas id="lineChart" height="70"></canvas>
  </div>
</template>

<template name="deviceDetails">
  {{> pageHeading title="Device Details" category='Devices' }}
  <div class="wrapper wrapper-content animated fadeIn">
    {{#if restEnabled}}
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>{{self.name}} CPU Usage & Diskspace <small class="m-l-sm">Manage your BIG-IP devices</small></h5>
            {{>iboxTools}}
          </div>
          <div class="ibox-content">
            <div class="row">
              CPU Usage
              <div class="col-lg-4">
                <canvas id="donutChart" height="100"></canvas>
              </div>
              <div class="col-lg-8">
                {{#with diskSpace}}
                  {{> diskUsage}}
                {{/with}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Network Traffic <small class="m-l-sm">Manage your BIG-IP devices</small></h5>
            {{>iboxTools}}
          </div>
          <div class="ibox-content" style="height: 350px;">
            {{> deviceNetworkChart}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Configuration Details</h5>
              {{>iboxTools}}
          </div>
          <div class="ibox-content">
            <table class="table">
              <thead>
                <tr>
                  <th>Management IP</th>
                  <th>Base MAC</th>
                  <th>Failover State</th>
                  <th>Peer Name</th>
                  <th>REST User</th>
                  <th>SSH User</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>{{mgmtAddress}}</th>
                  <th>{{self.baseMac}}</th>
                  <th>{{self.failoverState}}</th>
                  <th>{{peer.name}}</th>
                  <th>{{mgmtUser}}</th>
                  <th>{{sshUser}}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Software/Hardware Details</h5>
              {{>iboxTools}}
          </div>
          <div class="ibox-content">
            <table class="table">
              <thead>
                <tr>
                  <th>Version</th>
                  <th>Build</th>
                  <th>End of Support</th>
                  <th>Platform Name</th>
                  <th>Platform ID</th>
                  <th>End of Support</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>{{mgmtAddress}}</th>
                  <th>{{self.version}}</th>
                  <th>{{self.build}}</th>
                  <th>{{self.marketingName}}</th>
                  <th>{{self.platform}}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Provisioning & License Details</h5>
              {{>iboxTools}}
          </div>
          <div class="ibox-content">
            <dl>
              <dt>Licensed Features:</dt>
              <dd>{{self.activeModules}}</dd>
              {{> provisionedModules}}
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Create Archives & QKviews<small class="m-l-sm">Manage your BIG-IP devices</small></h5>
            {{>iboxTools}}
          </div>
          <div class="ibox-content">
            <form class="qkviewForm">
              <input type="hidden" name="device_id" value="{{_id}}">
              <button class="submit" id="submit">Create and Upload a Qkview</button>
            </form>
            <form class="archiveForm">
              <input type="hidden" name="device_id" value="{{_id}}">
              <button class="submit" id="submit">Create an Archive</button>
            </form>
            <form id="stats-form">
              <input type="hidden" name="device_id" value="{{_id}}">
              <button class="submit" id="get-stats">Testing Button</button>
            </form>
            <form class="scheduledJobs">
              {{#each getJobs _id}}
                Job: {{name}}<br>
              {{/each}}
            </form><br>
          </div>
          <div class="ibox-footer">
            <span class="pull-right">
              The righ side of the footer
            </span>
            {{> discoverSingle}}
          </div>
        </div>
      </div>
    </div>
    {{else}}
    Rest not enabled, build ssh-only template
    {{/if}}
  </div>
</template>

<template name="provisionedModules">
  Modules:
  <ul>
    <li>LTM: {{provision_level.ltm}}</li>
    <li>GTM: {{provision_level.gtm}}</li>
    <li>ASM: {{provision_level.asm}}</li>
    <li>APM: {{provision_level.apm}}</li>
    <li>AFM: {{provision_level.afm}}</li>
    <li>AVR: {{provision_level.avr}}</li>
    <li>LC: {{provision_level.lc}}</li>
    <li>AAM: {{provision_level.am}}</li>
    <li>SWG: {{provision_level.swg}}</li>
  </ul>
</template>

<template name="diskUsage">
  <canvas id="diskChart" width="800" height="200"></canvas>
  {{#each diskSpace}}
  <ul>
    <li>Disk Partition: {{partition}}
      <ul>
        <li>{{freeBlocks}} free / {{totalBlocks}} total Block size: {{blockSize}}</li>
      </ul>
    </li>
  </ul>
  {{/each}}
</template>

<template name="scheduleTemplate">
  Minute:
  <select name="minute" id="minute">
    <option value="0">00</option>
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="45">45</option>
  </select> Hour:
  <select name="hour" id="hour">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">22</option>
  </select>
  <select name="dayOfWeek" id="dayOfWeek">
    <option value="1">Sunday</option>
    <option value="2">Monday</option>
    <option value="3">Tuesday</option>
    <option value="4">Wednesday</option>
    <option value="5">Thursday</option>
    <option value="6">Friday</option>
    <option value="7">Saturday</option>
  </select>
  <select name="frequency" id="frequency">
    <option value="weekly">Weekly</option>
    <option value="biweekly">Bi-Weekly</option>
    <option value="monthly">Monthly</option>
  </select>
</template>

<template name="onceSelect">
  Pick a time, in:
  <select name="atTime" id="atTime">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="45">45</option>
  </select>
  <select name="unit" id="unit">
    <option value="minute">Minute(s)</option>
    <option value="hour">Hour(s)</option>
    <option value="day">Days(s)</option>
    <option value="week">Week(s)</option>
  </select>
</template>

<template name="fullOnceSelect">
  <select name="hour" id="hour">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
  </select>
  <select name="minute" id="minute">
    <option value="0">00</option>
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="45">45</option>
  </select> Or Pick a time, in:
  <select name="atTime" id="atTime">
    <option selected value="none">None</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="45">45</option>
  </select>
  <select name="unit" id="unit">
    <option value="minute">Minute(s)</option>
    <option value="hour">Hour(s)</option>
    <option value="day">Days(s)</option>
    <option value="week">Week(s)</option>
  </select>
</template>

<template name="d3vis">
  <div class="d3board" height="150px" width="600px">
    <svg id="d3vis"></svg>
  </div>
</template>

<template name="devicesArchives">
  {{> pageHeading title='Archives(UCS)' category='Devices' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="iruleForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Devices <small class="m-l-sm">Manage your BIG-IP Archives</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              <form class="archiveForm" name="archiveForm">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Device</th>
                      <th>Save as</th>
                      <th>UCS Name</th>
                      <th>Size</th>
                      <th>Created</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each getArchives}}
                      <tr>
                        <td><a href="/devices/{{this.metadata.onDevice}}">{{this.metadata.onDeviceName}}</a></td>
                        <td><a href="{{this.url}}">Download</a></td>
                        <td>{{this.name}}</td>
                        <td>{{round this.size}}</td>
                        <td>{{this.uploadedAt}}</td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </form>
            </div>
            <div class="ibox-footer">
              <button name="archiveAll" id="archiveAll">Archive All Devices</button>
              <span class="pull-right">
                Next Backup:
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="devicesQkviews">
  {{> pageHeading title='QKViews' category='Devices' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="iruleForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Devices <small class="m-l-sm">Manage your BIG-IP QKViews</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              <form class="qkviewForm" name="qkviewForm">
              </form>
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
