
<template name="vcmpGuestsDetails">
</template>
<template name="vcmpDisks">
</template>
<template name="vcmpDisksDetails">
</template>

<template name="vcmpHosts">
  <form id="table-form" class="form-horizontal">
    {{> pageHeading title='Baremetal Hosts' category='VCMP' }}
    <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Baremetal VCMP<small class="m-l-sm">Hosts</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> footableSearchBox}}
              <table class="footable table table-striped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Management IP</th>
                    <th>Guests Configured</th>
                    <th>Guests Running</th>
                    <th>Cores Consumed</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each vcmpHostList}}
                  <tr>
                    <td>{{self.name}}</td>
                    <td>{{self.managementIp}}</td>
                    {{#with getGuestInfo _id}}
                    <td><span title="{{allList}}">{{allConfigured}}</span></td>
                    <td><span title="{{runningList}}">{{allRunning}}</span></td>
                    <td>{{coresUsed}} / {{totalCores}}</td>
                    {{/with}}
                  </tr>
                  {{/each}}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                    <ul class="pagination pull-right hide-if-no-paging"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="ibox-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<template name="vcmpGuests">
  <form id="table-form" class="form-horizontal">
    {{> pageHeading title='BIG-IP Virtual Guests' category='VCMP' }}
    <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>VCMP Guests<small class="m-l-sm">Virtual Guests</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> footableSearchBox}}
              <table class="footable table table-striped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Name</th>
                    <th>On Host</th>
                    <th>Management IP</th>
                    <th>State</th>
                    <th>Disk</th>
                    <th>CPU Cores</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each vcmpGuests}}
                  {{#if deleted}}
                  {{else}}
                  <tr>
                    {{#if getState state}}
                      <td data-value="status_circle_green.png"><img src="/status_circle_green.png"></td>
                    {{else}}
                      <td data-value="status_circle_black.png"><img src="/status_circle_black.png"></td>
                    {{/if}}
                    <td>{{name}}</td>
                    <td>{{getOnDevice onDevice}}</td>
                    <td>{{managementIp}}</td>
                    <td>{{state}}</td>
                    <td>{{virtualDisk}}</td>
                    <td>{{getCores slots coresPerSlot}}</td>
                    <td><input type="checkbox" id="{{_id}}"></td>
                  </tr>
                  {{/if}}
                  {{/each}}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                    <ul class="pagination pull-right hide-if-no-paging"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="ibox-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<template name="vcmpGuestsCreate">
  {{> pageHeading title='Create A Guest' category='VCMP' }}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title"><h5>Create A New VCMP Guest</h5>{{>iboxTools}}</div>
          <div class="ibox-content">
            <form id="create-form" class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-4"><input type="text" id="guestName" class="form-control"></div>
              </div>
              {{> vcmpDeviceList}}
              <div class="form-group"><label class="col-sm-2 control-label">Host Management IP & Mask for Reference</label>
                <div class="col-sm-4"><input type="text" value="{{getHostIp}}" class="form-control" disabled></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Management IP & Mask (use ip/cidr)</label>
                <div class="col-sm-4"><input type="text" id="managementIp" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Management Gateway</label>
                <div class="col-sm-4"><input type="text" id="mgmtGw" value="{{getHostGw}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Base Software Version</label>
                <div class="col-sm-6">
                  <select id="image" class="form-control col-sm-2" name="image">
                    {{#each getImageList}}
                      <option id="{{version}}" value="{{name}}">{{version}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Compatible Hotfixes on Host</label>
                <div class="col-sm-6">
                  <select id="hotfix" class="form-control col-sm-2" name="hotfix">
                    <option value="none">None</option>
                    {{#each getHotfixList}}
                      <option value="{{name}}">{{version}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Host Utilization</label>
                <div class="col-sm-4"><input type="text" id="mgmtIp" value="{{getGuestInfo}}" class="form-control" disabled></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">CPU Cores & Memory</label>
                <div class="col-sm-6">
                  <select id="cores" class="form-control col-sm-2">
                    <option value="1">1 Core/4Gb Memory (Actual Memory depends on Platform)</option>
                    <option value="2">2 Core/8Gb Memory (Actual Memory depends on Platform)</option>
                    <option value="4">4 Core/16Gb Memory (Actual Memory depends on Platform)</option>
                    <option value="6">6 Core/24Gb Memory (Actual Memory depends on Platform)</option>
                    <option value="8">8 Core/32Gb Memory (Actual Memory depends on Platform)</option>
                  </select>
                </div>
              </div>
              {{> description}}
              {{> submitCancelButtons}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="vcmpGuestsMigrate">
  {{> pageHeading title='Migrate A Guest' category='VCMP' }}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title"><h5>Migrate A VCMP Guest</h5>{{>iboxTools}}</div>
          <div class="ibox-content">
            This will take a guest from one VCMP host, shut it down, and boot
            it up on another VCMP host. Note that F5 does not allow live
            migrations and as such, will be service affecting. Also, you will
            need to make sure that the proper VLANs are configured on the destination
            host for traffic to properly route on the new instance.
            <form id="create-form" class="form-horizontal">
              {{> vcmpDeviceList}}
              <div class="form-group"><label class="col-sm-2 control-label">Guests on device</label>
                <div class="col-sm-6">
                  <select id="image" class="form-control col-sm-2" name="image">
                    {{#each getGuestList}}
                      <option id="{{name}}" value="{{name}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              {{> toVcmpDeviceList}}
              <div class="form-group"><label class="col-sm-2 control-label">New Guest Name (Defaults to selected)</label>
                <div class="col-sm-4"><input type="text" id="guestName" class="form-control"></div>
              </div>
              {{> submitCancelButtons}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
