<template name="dashboardsIhealth">
  {{> pageHeading title='iHealth Details' category='iHealth' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="virtualForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>iHealth QKviews <small class="m-l-sm">Manage your System Health</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> footableSearchBox}}
              <button class="ihealth" id="ihealth" disabled={{buttonStateDisabled}}>{{getButtonName}}</button>
              <table class="footable table table-stripped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>Hostname</th>
                    <th>Serial Number</th>
                    <th>Diagnostics Found</th>
                    <th>Platform</th>
                    <th>Version</th>
                    <th>Generated</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each getIhealth}}
                  <tr>
                    <td><a href="/dashboards/ihealth/{{_id}}">{{this.system_information.hostname}}</a></td>
                    <td>{{chassis_serial}}</td>
                    <td>{{this.diagnostics.hit_count}}</td>
                    <td>{{this.system_information.platform}}</td>
                    <td>{{version.version}}</td>
                    <td>{{generation_date}}</td>
                  </tr>
                  {{/each}}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                    <ul class="pagination pull-right"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="ibox-footer"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="dashboardsIhealthDetails">
  {{> pageHeading title='Device Details' category='iHealth' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <div class="col-lg-9">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>iHealth information - Details for {{system_information.hostname}}
            </h5>
            {{>iboxTools}}
          </div>
          <div class="ibox-content">
            <table class="table table-stripped">
              <thead>
                <tr>
                  <th>Serial Number</th>
                  <th>Platform Type</th>
                  <th>Support Date</th>
                  <th>Version</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{chassis_serial}}</td>
                  <td>{{system_information.platform}}</td>
                  <td>{{entitlement.expiration_date}}</td>
                  <td>{{version.version}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                  <ul class="pagination pull-right"></ul>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="ibox-footer"></div>
        </div>
      </div>
      {{> displayDiagnostics diagnostics}}
    </div>
  </div>

</template>

<template name="displayDiagnostics">
  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Diagnostics Found: {{hit_count}}</h5>
        {{>iboxTools}}
      </div>
      <div class="ibox-content">
        <label class="checkbox-inline"><input type="checkbox" value="option1" checked="{{getCrit}}" id="critical">Critical</label><br>
        <label class="checkbox-inline"><input type="checkbox" value="option2" checked="{{getHigh}}" id="high">High</label><br>
        <label class="checkbox-inline"><input type="checkbox" value="option3" checked="{{getMed}}" id="medium">Medium</label><br>
        <label class="checkbox-inline"><input type="checkbox" value="option3" checked="{{getLow}}" id="low">Low</label><br>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    {{#each getDiagnostics diagnostic}}
    <div class="ibox collapsed float-e-margins">
      <div class="ibox-title">
        <h5><span class="label {{getLevel this.run_data.h_importance}}">{{this.run_data.h_importance}}</span><span style="padding-left:10px">{{this.name}} - {{this.results.h_header}}</span></h5>
        {{>iboxToolsNoExpand}}
      </div>
      <div class="ibox-content">
        <a href="{{this.results.solution}}" target="_blank">F5 KB SOL</a><br>
        {{this.results.h_summary}}
        {{#if output}}
          <br><br>Command Output:<br>
          <pre>
          {{#each output}}
            {{this}}
          {{/each}}
          </pre>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
</template>
