<template name="gtmWideips">
  {{> pageHeading title='Wideips' category='GTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="virtualForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Wideips <small class="m-l-sm">Manage your DNS</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> footableSearchBox}}
              <table class="footable table table-stripped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>GTM Wideip Name</th>
                    <th>On Syncgroup</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each allWideips}}
                  <tr>
                    <td><a href="/gtm/wideips/{{_id}}">{{name}}</a></td>
                    <td><a href="/gtm/syncgroup/{{inSyncGroup}}">{{getSyncGroup inSyncGroup}}</a></td>
                    <td><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></td>
                  </tr>
                  {{/each}}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                    <ul class="pagination pull-right hide-if-no-paging"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="ibox-footer"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="gtmSyncgroups">
  {{> pageHeading title='Syncgroups' category='GTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="virtualForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Syncgroups <small class="m-l-sm">Groups of BIG-IPs</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> footableSearchBox}}
              <table class="footable table table-stripped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>GTM Syncgroup Name</th>
                    <th>Peer Leader</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each allSyncgroups}}
                  <tr>
                    <td><a href="/gtm/syncgroups/{{_id}}">{{synchronizationGroupName}}</a></td>
                    <td>{{this.peerLeader}}</td>
                    <td><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></td>
                  </tr>
                  {{/each}}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                    <ul class="pagination pull-right hide-if-no-paging"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="ibox-footer"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="gtmDatacenters">
  {{> pageHeading title='Datacenters' category='GTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="table-form">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Datacenters <small class="m-l-sm">Manage your DNS</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> footableSearchBox}}
              <table class="footable table table-stripped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>GTM Datacenter Name</th>
                    <th>On Syncgroup</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each allDatacenters}}
                  <tr>
                    <td><a href="/gtm/datacenters/{{_id}}">{{name}}</a></td>
                    <td><a href="/gtm/syncgroup/{{inSyncGroup}}">{{getSyncGroup inSyncGroup}}</a></td>
                    <td><input type="checkbox" name="{{selfLink}}"></td>
                  </tr>
                  {{/each}}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                    <ul class="pagination pull-right hide-if-no-paging"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="ibox-footer"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="gtmLinks">
  {{> pageHeading title='Links(ISPs)' category='GTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="virtualForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Links <small class="m-l-sm">Manage your DNS</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> footableSearchBox}}
              <table class="footable table table-stripped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>GTM Link Name</th>
                    <th>On Syncgroup</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each allLinks}}
                  <tr>
                    <td><a href="/gtm/links/{{_id}}">{{name}}</a></td>
                    <td><a href="/gtm/syncgroup/{{inSyncGroup}}">{{getSyncGroup inSyncGroup}}</a></td>
                    <td><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></td>
                  </tr>
                  {{/each}}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                    <ul class="pagination pull-right hide-if-no-paging"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="ibox-footer"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="gtmServers">
  {{> pageHeading title='Servers' category='GTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="gtm-server-form">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Servers <small class="m-l-sm">Manage your Servers</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> footableSearchBox}}
              <table class="footable table table-stripped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>GTM Server Name</th>
                    <th>On Syncgroup</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each allGtmservers}}
                  <tr>
                    <td><a href="/gtm/servers/{{_id}}">{{name}}</a></td>
                    <td><a href="/gtm/syncgroup/{{inSyncGroup}}">{{getSyncGroup inSyncGroup}}</a></td>
                    <td><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></td>
                  </tr>
                  {{/each}}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                    <ul class="pagination pull-right hide-if-no-paging"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="ibox-footer"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="gtmVservers">
  {{> pageHeading title='Virtual Servers' category='GTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="virtualForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Virtual Servers <small class="m-l-sm">Manage your GTM Vips</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> footableSearchBox}}
              <table class="footable table table-stripped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>GTM Virtual Server Name</th>
                    <th>On Syncgroup</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each allGtmvservers}}
                  <tr>
                    <td><a href="/gtm/vservers/{{_id}}">{{name}}</a></td>
                    <td><a href="/gtm/syncgroup/{{inSyncGroup}}">{{getSyncGroup inSyncGroup}}</a></td>
                    <td><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></td>
                  </tr>
                  {{/each}}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                    <ul class="pagination pull-right hide-if-no-paging"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="ibox-footer"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="gtmPools">
  {{> pageHeading title='Pools' category='GTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="virtualForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Pools <small class="m-l-sm">Manage your GTM Pools</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> footableSearchBox}}
              <table class="footable table table-stripped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>GTM Pool Name</th>
                    <th>On Syncgroup</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each allWidepools}}
                  <tr>
                    <td><a href="/gtm/pools/{{_id}}">{{name}}</a></td>
                    <td><a href="/gtm/syncgroup/{{inSyncGroup}}">{{getSyncGroup inSyncGroup}}</a></td>
                    <td><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></td>
                  </tr>
                  {{/each}}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                    <ul class="pagination pull-right hide-if-no-paging"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="ibox-footer"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="gtmMonitors">
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="virtualForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Monitors <small class="m-l-sm">Manage your GTM Monitors</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              {{> footableSearchBox}}
              <table class="footable table table-stripped" data-page-size="15" data-filter=#filter>
                <thead>
                  <tr>
                    <th>GTM Monitor Name</th>
                    <th>On Syncgroup</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                {{#each allGtmmonitors}}
                  <tr>
                    <td><a href="/gtm/monitors/{{_id}}">{{name}}</a></td>
                    <td><a href="/gtm/syncgroup/{{inSyncGroup}}">{{getSyncGroup inSyncGroup}}</a></td>
                    <td><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></td>
                  </tr>
                  {{/each}}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                    <ul class="pagination pull-right hide-if-no-paging"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="ibox-footer"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
