<template name="gtmWideips">
  {{> pageHeading title='Wideips' category='GTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="virtualForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Wideips <small class="m-l-sm">Manage your DNS</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              <ul>
                {{#each allWips}}
                  {{> wipList}}
                {{/each}}
              </ul>
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
              <a href="/gtm/wideips/create">Create New</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="gtmSyncgroups">
  {{> pageHeading title='Syncgroups' category='GTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="virtualForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Syncgroups <small class="m-l-sm">Groups of BIG-IPs</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              <ul>
                {{#each getSyncGroups}}
                  <li><a href="/gtm/syncgroups/{{_id}}">{{synchronizationGroupName}}</a></li>
                {{/each}}
              </ul>
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="gtmSyncgroupDetails">
  <div class="container">
  <center>
    <h3>View/Edit/Update {{synchronizationGroupName}}</h3>
  </center>
  <ul>
    <li>Devices in Sync Group:
      <ul>
        {{#each onDevice}}
          <li><a href="/devices/{{this}}">{{getDeviceName this}}</a></li>
        {{/each}}
      </ul>
    </li>
    <li>Syncing: {{synchronization}}</li>
    <li>autoDiscovery: {{autoDiscovery}}</li>
    <li>autoDiscoveryInterval: {{autoDiscoveryInterval}}</li>
    <li>automaticConfigurationSaveTimeout: {{automaticConfigurationSaveTimeout}}</li>
    <li>drainPersistentRequests: {{drainPersistentRequests}}</li>
    <li>gtmSetsRecursion: {{gtmSetsRecursion}}</li>
    <li>heartbeatInterval: {{heartbeatInterval}}</li>
    <li>monitorDisabledObjects: {{monitorDisabledObjects}}</li>
    <li>nethsmTimeout: {{nethsmTimeout}}</li>
    <li>peerLeader: {{peerLeader}}</li>
    <li>sendWildcardRrs: {{sendWildcardRrs}}</li>
    <li>synchronizationTimeTolerance: {{synchronizationTimeTolerance}}</li>
    <li>synchronizationTimeout: {{synchronizationTimeout}}</li>
    <li>synchronizeZoneFiles: {{synchronizeZoneFiles}}</li>
    <li>synchronizeZoneFilesTimeout: {{synchronizeZoneFilesTimeout}}</li>
    <li>virtualsDependOnServerState: {{virtualsDependOnServerState}}
    </li>
  </ul>
</div>
</template>


<template name="wipList">
  <li>
    <a href="/gtm/wideips/{{_id}}">{{name}}</a>
  </li>
</template>

<template name="gtmDatacenters">
  {{> pageHeading title='Datacenters' category='GTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="virtualForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Datacenters <small class="m-l-sm">Manage your DNS</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              <ul>
                {{#each allDCs}}
                  {{> dcList}}
                {{/each}}
              </ul>
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="dcList">
  <div class="container">
  <li>
    <a href="/gtm/datacenters/{{_id}}">{{name}}</a>
  </li>
</div>
</template>

<template name="gtmDatacenterDetails">
  <div class="container">
  Details for {{name}}
</div>
</template>

<template name="gtmWideipDetails">
  {{> pageHeading title='Wideip Detail' category='GTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="virtualForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Wideip {{name}} <small class="m-l-sm">Manage your DNS</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              <ul>
                <li>partition: {{partition}}</li>
                <li>fullPath: {{fullPath}}</li>
                <li>generation: {{generation}}</li>
                <li>enabled: {{enabled}}</li>
                <li>failureRcode: {{failureRcode}}</li>
                <li>failureRcodeResponse: {{failureRcodeResponse}}</li>
                <li>failureRcodeTtl: {{failureRcodeTtl}}</li>
                <li>lastResortPool: {{lastResortPool}}</li>
                <li>minimalResponse: {{minimalResponse}}</li>
                <li>persistCidrIpv4: {{persistCidrIpv4}}</li>
                <li>persistCidrIpv6: {{persistCidrIpv6}}</li>
                <li>persistence: {{persistence}}</li>
                <li>poolLbMode: {{poolLbMode}}</li>
                <li>ttlPersistence: {{ttlPersistence}}</li>
                <ul>
                    {{#each pools}}
                      <li>Pool Info
                        <ul>Name: {{this.name}}
                          <li>Order: {{this.order}}</li>
                          <li>Ratio: {{this.ratio}}</li>
                          <ul>
                            {{#each members}}
                            Members:
                              <li>Name; {{this.name}}</li>
                              <li>Path: {{this.fullPath}}</li>
                              <li>Enabled: {{this.enabled}}</li>
                              <li>Monitor: {{this.monitor}}</li>
                              <li>Ratio: {{this.ratio}}</li>
                              <li>MemberOrder: {{this.memberOrder}}</li>
                              <li>MaxBPS: {{this.limitMaxBps}}</li>
                              <li>Max Conn: {{this.limitMaxConnections}}</li>
                              <li>Max Conn Stat: {{this.limitMaxConnectionsStatus}}</li>
                            {{/each}}
                          </ul>
                        </ul>
                      </li>
                    {{/each}}
                </ul>
              </ul>
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
              <a href="/gtm/wideips/create">Create New</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="gtmWideipsCreate">
  <div class="container">
  <center>
    <h3>Create a new GTM/DNS Wideip</h3>
  </center>
  <li>
    <form id="wipForm" class="wipForm">
      Wideip Name: <input type="text" id="wip_name" class="wip_name"><br>
      What Sync Group? <select id="syncgroup" name="syncgroup">
        <option selected="none" value="none">none</option>
        {{#each getSyncList}}
          <option value="{{_id}}">{{synchronizationGroupName}}</option>
        {{/each}} </select><br>
       <br>
       <select name="wip_type" id="wip_type">
         <option value="a">IPv4</option>
         <option value="aaaa">IPv6</option>
       </select><br>
       Pool:  <select id="wpool" name="wpool">
                <option selected="none" value="none">none></option>
                {{#each getPoolList}}
                  <option value="{{_id}}">{{name}}</option>
                {{/each}}
              </select><br>
      <br><br><button class="submit" id="submit">Create</button>
      Stage changes?  <select name="stage" id="stage">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                      </select><br>
    </form>
  </li>
</div>
</template>

<template name="gtmServerDetails">
  {{> pageHeading title='Server Detail' category='GTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="virtualForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Server {{name}} <small class="m-l-sm">Manage your GTM Server</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              <ul>
                <li>Name: {{fullPath}}</li>
                <li>Datacenter: {{datacenter}}</li>
                <li>Enabled?: {{enabled}}</li>
                <li>RouteDomains: {{exposeRouteDomains}}</li>
                <li>Monitor: {{monitor}}</li>
                <li>Product: {{product}}</li>
                <li>Discover: {{virtualServerDiscovery}}</li>
                <ul> Address:
                  {{#each addresses}}
                    <li>IP: {{this.name}}</li>
                    <li>Name: {{this.deviceName}}</li>
                  {{/each}}
                </ul>
              </ul>
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
              <a href="/gtm/server/create">Create New</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="gtmVserverDetails">
  {{> pageHeading title='Virtual Server Detail' category='GTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="virtualForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Virtual Server {{name}} <small class="m-l-sm">Manage your GTM Virtual Server</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              <ul>
                <li>Path: {{fullPath}}</li>
                <li>Destination: {{destination}}</li>
                <li>Enabled: {{enabled}}</li>
                <li>MaxBps: {{limitMaxBps}}</li>
                <li>Max Conns: {{limitMaxConnections}}</li>
              </ul>
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
              <a href="/gtm/vserver/create">Create New</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>


<template name="gtmLinks">
  {{> pageHeading title='Links' category='GTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="virtualForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Links <small class="m-l-sm">Manage your DNS</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              <ul>
                {{#each allLinks}}
                  <li>{{name}}</li>
                {{/each}}
              </ul>
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="gtmServers">
  {{> pageHeading title='Servers' category='GTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="virtualForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Servers <small class="m-l-sm">Manage your Servers</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              <ul>
                {{#each allServers}}
                  <li><a href="/gtm/servers/{{_id}}">{{name}}</a></li>
                {{/each}}
              </ul>
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="gtmVservers">
  {{> pageHeading title='Virtual Servers' category='GTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="virtualForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Virtual Servers <small class="m-l-sm">Manage your GTM Vips</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              <ul>
                {{#each allVservers}}
                  {{serverName}}:<a href="/gtm/vservers/{{_id}}">{{name}}</a><li>{{name}} - {{destination}}</li>
                {{/each}}
              </ul>
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="gtmPools">
  {{> pageHeading title='Pools' category='GTM' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <form class="virtualForm">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>GTM Pools <small class="m-l-sm">Manage your DNS Pools</small></h5>
              {{>iboxTools}}
            </div>
            <div class="ibox-content">
              <ul>
                {{#each allPools}}
                  <li><a href="/gtm/pools/{{_id}}">{{name}}</a></li>
                {{/each}}
              </ul>
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
                The righ side of the footer
              </span>
              <a href="/gtm/pools/create">Create New</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="gtmPoolsCreate">
  <div class="container">
  <center>
    <h3>Create a new GTM/DNS Pool</h3>
  </center>
  <li>
    <form id="poolForm" class="poolForm">
      Pool Name: <input type="text" id="pool_name" class="pool_name"><br>
      What Sync Group? <select id="syncgroup" name="syncgroup">
        <option selected="none" value="none">none</option>
        {{#each getSyncList}}
          <option value="{{_id}}">{{synchronizationGroupName}}</option>
        {{/each}} </select><br>
       <br>
       <select name="pool_type" id="pool_type">
         <option value="a">IPv4</option>
         <option value="aaaa">IPv6</option>
       </select><br>
      <br><br><button class="submit" id="submit">Create</button>
      Stage changes?  <select name="stage" id="stage">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                      </select><br>
    </form>
  </li>
</div>
</template>

<template name="gtmPoolsDetails">
  <div class="container">
    Details for {{name}}
    <ul>
      <form id="pool" class="pool">
        <input type="hidden" name="syncid" value="{{inSyncGroup}}">
        <input type="hidden" name="gtmPool" value="{{_id}}">
        <li>Path: {{fullPath}}</li>
        <li>Destination: {{destination}}</li>
        <li>Enabled: {{enabled}}</li>
        <li>loadBalancingMode: {{loadBalancingMode}}</li>
        <li>alternateMode: {{alternateMode}}</li>
        <li>fallbackMode: {{fallbackMode}}</li>
        <li>limitMaxBps: {{limitMaxBps}}</li>
        <li>limitMaxConnections: {{limitMaxConnections}}</li>
        <li>manualResume: {{manualResume}}</li>
        <li>maxAnswersReturned: {{maxAnswersReturned}}</li>
        <li>monitor: {{monitor}}</li>
        <li>ttl: {{ttl}}</li>
        <li>verifyMemberAvailability: {{verifyMemberAvailability}}</li>
      </form>
      <form id="members" class="members">
        <input type="hidden" name="syncid" value="{{inSyncGroup}}">
        <input type="hidden" name="gtmPool" value="{{_id}}">
        <li>Members
          <ul>
            {{#each this.membersReference.items}}
              <li><input type="checkbox" id="{{this.selfLink}}" name="{{this.selfLink}}">{{this.name}} </li>
            {{/each}}
          </ul>
        </li>
        Stage changes?
        <select name="stage" id="stage">
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select><br>
        <button class="submit" id="submit">Delete Selected Members</button>
      </form>
      <form id="addGmembers" class="addGmembers">
        <input type="hidden" name="syncid" value="{{inSyncGroup}}">
        <input type="hidden" name="gtmPool" value="{{_id}}">
        <select name="gtmVirtual">
          <option name="none" value="none">none</option>
          {{#each getVirtualsServers inSyncGroup}}
            <option value="{{serverFullPath}}">{{serverFullPath}}</option>
          {{/each}}
        </select><br>
        Stage changes?
        <select name="stage" id="stage">
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select><br>
        <button class="submit" id="submit">Add Member</button>
      </form>
    </ul>
  </div>
</template>

<template name="gtmMonitors">
  <div class="container">
    GTM monitors
    <ul>
      monitors
    </ul>
  </div>
</template>
