<template name="gtmWideipsCreate">
  {{> pageHeading title="Create A Wideip" category="GTM" }}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title"><h5>Create A New Wideip</h5>{{>iboxTools}}</div>
          <div class="ibox-content">
            <form id="create-form" class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-4"><input type="text" id="name" class="form-control"></div>
              </div>
              {{> syncGroupSelect}}
              <div class="form-group"><label class="col-sm-2 control-label">On What Sync Group? </label>
                <div class="col-sm-6">
                  <select id="wiptType" class="form-control col-sm-2">
                    <option value="a">IPv4</option>
                    <option value="aaaa">IPv6</option>
                  </select>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">Default Pool</label>
                <div class="col-sm-6">
                  <select id="wpool" class="form-control col-sm-2">
                    {{#each getPoolList}}
                      <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              {{> description}}
              {{> submitCancelButtons}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="gtmPoolsCreate">
  {{> pageHeading title="Create A Pool" category="GTM" }}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title"><h5>Create A New Pool</h5>{{>iboxTools}}</div>
          <div class="ibox-content">
            <form id="create-form" class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-4"><input type="text" id="name" class="form-control"></div>
              </div>
              {{> syncGroupSelect}}
              {{> description}}
              {{> submitCancelButtons}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="gtmServersCreate">
  {{> pageHeading title="Create A Server" category="GTM" }}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title"><h5>Create A New Server</h5>{{>iboxTools}}</div>
          <div class="ibox-content">
            <form id="create-form" class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-4"><input type="text" id="name" class="form-control"></div>
              </div>
              {{> syncGroupSelect}}
              {{> description}}
              {{> submitCancelButtons}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="gtmVserversCreate">
  {{> pageHeading title="Create A Virtual Server" category="GTM" }}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title"><h5>Create A New Virtual Server</h5>{{>iboxTools}}</div>
          <div class="ibox-content">
            <form id="create-form" class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-4"><input type="text" id="name" class="form-control"></div>
              </div>
              {{> syncGroupSelect}}
              {{> description}}
              {{> submitCancelButtons}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="gtmMonitorsCreate">
  {{> pageHeading title="Create A GSLB Monitor" category="GTM" }}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title"><h5>Create A New Monitor</h5>{{>iboxTools}}</div>
          <div class="ibox-content">
            <form id="create-form" class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-4"><input type="text" id="name" class="form-control"></div>
              </div>
              {{> syncGroupSelect}}
              {{> description}}
              {{> submitCancelButtons}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
