<template name="supportTroubleshooting">
  {{> pageHeading title='Troubleshooting' category='support' }}
  <div class="wrapper wrapper-content animated fadeInRight">
  {{> troubleshootingWizard}}
  </div>
</template>

<template name="troubleshootingWizard">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Welcome to HoneyB BIG-IP Configuration Manager</h5>
          {{>iboxTools}}
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-2">
              <div>
                <button type="button" id="intro" class="btn btn-w-m btn-primary wiz-button">
                  <span class="pull-left">1. Introduction</span>
                </button>
              </div>
              <br/>
              <div>
                <button type="button" id="qkview" class="btn btn-w-m btn-primary wiz-button">
                  <span class="pull-left">2. QKview</span>
                </button>
              </div>
              <br/>
              <div>
                <button type="button" id="ticket" class="btn btn-w-m btn-primary wiz-button">
                  <span class="pull-left">3. Support Ticket</span>
                </button>
              </div>
              <br/>
              <div>
                <button type="button" id="rma" class="btn btn-w-m btn-primary wiz-button">
                  <span class="pull-left">4. RMA Template</span>
                </button>
              </div>
              <br/>
            </div>
            <div class="col-lg-9">
              <form id="settings-wizard-form" class="form-horizontal">
                <div id="introduction">
                  <h2>Introduction</h2>
                  <p>
                    honeyb.io's troubleshooting wizard will help you with your F5 BIG-IP&trade;
                    issue. First, determine what your issue is, and the severity of the issue.
                    F5 support is generally a breakfix support organization, which means that they
                    will not help you deploy and configure new BIG-IP configurations, but will help
                    when the current configuration fails out of the blue, or after some uknown change,
                    and they will help you get back to the old working configuration. In other cases,
                    they will direct you to the F5 Professional Services orginization to help you
                    build your new configuration.
                  </p>
                  <p>
                    If your case is break-fix and you're opening it with F5, make sure to classify your case properly.
                    In the event that you have no access to your apps, everything is down, that is a severity 1 case.
                    You'll get access to an engineer quickly to get your problem resolved.
                  </p>
                  <p>
                    If your issue is serious, but you're still hanging on, for instance, your primary unit has crashed, but the standby
                    unit tookover and is passing traffic, its classified as a severity 2 ticket. You'll still get help quickly,
                    but the support team knows that you still have access to your apps.
                  </p>
                  <p>
                    After that, you have severity 3 and 4. These are for less important issues, intermittent issues, or just general questions.
                    Don't expect to be contacted quickly in these cases, and you're ticket is basically at the bottom of the queue.
                  </p>
                  <br>
                  <div class="form-group"><label class="col-sm-2 control-label">System Display Name</label>
                    <div class="col-sm-4"><input type="text" id="honeyName" value="{{name}}" class="form-control"></div>
                  </div>
                </div>
                <div id="create-qkview" style="display: none;">
                  <h2>Device & QKView</h2>
                  <p>
                    Choose the device you're working on. We'll auto fill some of the details for you.
                  </p>
                  {{> deviceList}}
                  <p>
                    A qkview is going to be how the support engineer can check into your configuration and get details
                    about what is failing in your device. If the device is completely down, skip this step and open a
                    ticket immediately. If not, select your device from below, and you'll have a qkview created and uploaded
                    automatically into F5's support system. Make sure to note the username its uploaded with below so support
                    can find it.
                  </p>
                  <div class="hr-line-dashed"></div>
                  <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                      <button class="btn btn-primary" id="generate-ssh-key">Upload Qkview</button>
                    </div>
                  </div>
                </div>
                <div id="open-ticket" style="display: none;">
                  <h2>Ticket</h2>
                  <p>
                    The fastest way to open a ticket is by calling F5 support at 1-888-882-7535. You can also
                    open a ticket by logging into the support portal at <a href="https://websupport.f5.com/">https://websupport.f5.com/</a>
                  </p>
                  <p>
                    {{self.chassisId}}
                  </p>
                </div>
                <div id="rma-template" style="display: none;">
                  <h2>RMA Form</h2>
                  <pre>
                    Required Information
                    Serial number:
                    Amount of memory currently installed in the system:
                    Does the system contain redundant power supplies?
                    What version of software is currently installed on the system?
                    Suspected failed part:
                    Additional comments/special requests:

                    Shipping details

                    Name of recipient (one name only):
                    Telephone number (must be local to delivery location):
                    Company name:
                    Shipping address line 1 (no P.O. boxes):
                    Shipping address line 2:
                    City:
                    State/province:
                    Zip/postal code:
                    Special shipping instructions:
                    Enter additional information here, such as your internal ticket number (couriers are not equipped to make phone calls).

                    For devices covered by the 4-hour expedited RMA service, confirm that the contact listed above will be onsite and available to receive the replacement hardware within four hours of submitting this request:
                    If a different delivery schedule is required, advise when you would like the replacement to arrive:
                  </pre>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-8">
              <div>
                <button type="button" id="cancel" class="btn btn-w-m btn-primary wiz-button">
                  <span class="pull-left">Cancel</span>
                </button>
                <button id="save" type="submit" class="btn btn-w-m btn-primary wiz-button">
                  <span class="pull-left">Save</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
