<template name="settingsTest">
  {{this.data}}
  poo
</template>

<template name="settingsHoneyb">
  {{> pageHeading title='Settings' category='honeyb' }}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox collapsed float-e-margins">
          <div class="ibox-title"><h5>honeyb System Settings</h5>{{>iboxToolsNoExpand}}</div>
          <div class="ibox-content">
            <form id="system-settings" class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">System Display Name</label>
                <div class="col-sm-4"><input type="text" id="honeyName" value="{{name}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">iHealth Statistics Refresh</label>
                <div class="col-sm-4">
                  <select id="ihealthFreq" class="form-control m-b" name="archives">
                    <option value="nightly">Nightly @6am</option>
                    <option value="otherNightly">Each Other Night @6am</option>
                    <option value="weekly">Sunday @6am</option>
                  </select>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">iHealth User</label>
                <div class="col-sm-4"><input type="text" id="ihealthUser" value="{{ihealthUser}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">iHealth Password</label>
                <div class="col-sm-4"><input type="password" id="ihealthPass" value="{{ihealthPass}}" class="form-control"></div>
              </div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-white" type="submit">Cancel</button>
                  <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="ibox collapsed float-e-margins">
          <div class="ibox-title"><h5>BIG-IP Real-Time Data Interval Settings</h5>{{>iboxToolsNoExpand}}</div>
          <div class="ibox-content">
            <form id="interval-settings" class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">GTM Datacenter (seconds)</label>
                <div class="col-sm-4"><input type="text" id="updateGtmDc" value="{{msecToSec interval.updateGtmDc}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">GTM Servers (seconds)</label>
                <div class="col-sm-4"><input type="text" id="updateGtmServer" value="{{msecToSec interval.updateGtmServer}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">GTM Virtuals (seconds)</label>
                <div class="col-sm-4"><input type="text" id="updateGtmVserver" value="{{msecToSec interval.updateGtmVserver}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">LTM Virtuals (seconds)</label>
                <div class="col-sm-4"><input type="text" id="updateLtmVirtual" value="{{msecToSec interval.updateLtmVirtual}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">LTM Pools (seconds)</label>
                <div class="col-sm-4"><input type="text" id="updateLtmPool" value="{{msecToSec interval.updateLtmPool}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">LTM Pool Members (seconds)</label>
                <div class="col-sm-4"><input type="text" id="updateLtmPoolMember" value="{{msecToSec interval.updateLtmPoolMember}}" class="form-control"></div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-white" type="submit">Cancel</button>
                  <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="ibox collapsed float-e-margins">
          <div class="ibox-title"><h5>Archive & iHealth Schedule Settings</h5>{{>iboxToolsNoExpand}}</div>
          <div class="ibox-content">
            <form id="scheduler" class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">Archive Schedule:</label>
                <div class="col-sm-4">
                  <select class="form-control m-b" name="archives">
                    <option value="nightly">Nightly @2am</option>
                    <option value="weekly">Each Sat @2am</option>
                    <option value="biweekly">1st & 15th @2am</option>
                    <option value="monthly">15th @2am</option>
                  </select>
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group"><label class="col-sm-2 control-label">iHealth/QKView Creation Schedule:</label>
                <div class="col-sm-4">
                  <select class="form-control m-b" name="archives">
                    <option value="weekly">Sat @2am</option>
                    <option value="biweekly">1st & 15th @2am</option>
                    <option value="monthly">15th @2am</option>
                  </select>
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-white" type="submit">Cancel</button>
                  <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="ibox collapsed float-e-margins">
          <div class="ibox-title"><h5>SSH Settings</h5>{{>iboxToolsNoExpand}}</div>
          <div class="ibox-content">
            <form id="ssh-settings" class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">SSH Key Name: {{keyName.name}}</label>
                <div class="col-sm-8"><textarea name="sshPubKey">{{keyName.pub}}</textarea></div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-primary" type="submit">Create SSH Key</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="ibox collapsed float-e-margins">
          <div class="ibox-title"><h5>Change Management Settings</h5>{{>iboxToolsNoExpand}}</div>
          <div class="ibox-content">
            <form id="change-settings" class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <label class="checkbox-inline i-checks">
                    <input type="checkbox" id="changeControl">Enable Change Control & Staging
                  </label>
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-white" type="submit">Cancel</button>
                  <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="ibox collapsed float-e-margins">
          <div class="ibox-title"><h5>Change Authentication Settings</h5>{{>iboxToolsNoExpand}}</div>
          <div class="ibox-content">
            {{#with getAuthSettings}}
            <form id="authentication-form" class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-sm-4">
                      <select class="form-control m-b" name="authenticationType" id="authenticationType">
                        {{#if ldap}}
                        <option value="local">Local</option>
                        <option value="activedirectory" selected>Active Directory</option>
                        {{else}}
                        <option value="local" selected>Local</option>
                        <option value="activedirectory">Active Directory</option>
                        {{/if}}
                      </select>
                    </div>
                  </div>
                  {{#if adAuthSelected}}
                    {{> adFormItems}}
                  {{else}}
                    {{#if ldap}}
                      {{#if adAuthSelected}}
                        {{> adFormItems}}
                      {{/if}}
                    {{/if}}
                  {{/if}}
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-white" type="submit">Cancel</button>
                  <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
              </div>
            </form>
            {{/with}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="adFormItems">
  <div class="row">
    <div class="form-group"><label class="col-sm-2 control-label">AD Domain</label>
      <div class="col-sm-6"><input type="text" id="ldapDomain" value="{{adAuthentication.ldapDomain}}" class="form-control"></div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">AD Base DN</label>
      <div class="col-sm-6"><input type="text" id="ldapBaseDn" value="{{adAuthentication.ldapBaseDn}}" class="form-control"></div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">AD Base URL</label>
      <div class="col-sm-6"><input type="text" id="ldapUrl" value="{{adAuthentication.ldapUrl}}" class="form-control"></div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">Service Account DN</label>
      <div class="col-sm-6"><input type="text" id="ldapBindCn" value="{{adAuthentication.ldapBindCn}}" class="form-control"></div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">Service Account Password</label>
      <div class="col-sm-6"><input type="text" id="ldapBindPassword" value="{{adAuthentication.ldapBindPassword}}" class="form-control"></div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">honeyb Admin AD Group</label>
      <div class="col-sm-6"><input type="text" id="defaultAdminGroup" value="{{adAuthentication.defaultAdminGroup}}" class="form-control"></div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">honeyb Operator AD Group</label>
      <div class="col-sm-6"><input type="text" id="defaultOperatorGroup" value="{{adAuthentication.defaultOperatorGroup}}" class="form-control"></div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">honeyb Guest AD Group</label>
      <div class="col-sm-6"><input type="text" id="defaultGuestGroup" value="{{adAuthentication.defaultGuestGroup}}" class="form-control"></div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">Debug Log Messages</label>
      <div class="col-sm-6"><input type="text" id="debug" value="{{adAuthentication.debug}}" class="form-control"></div>
    </div>
  </div>
</template>

<template name="logout">
  <div class="container">
    {{#if currentUser}}
      <h2>Signing Out...</h2>
    {{else}}
      <h2>Successfully logged out, click login to sign in again</h2><br>
    {{/if}}
  </div>
</template>

<template name="settingsUser">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Welcome to HoneyB User Manager</h5>
          {{>iboxTools}}
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Current Users</h3>
                </div>
                <div class="panel-body">
                  <form id="user-list" class="form-horizontal">
                    {{> footableSearchBox}}
                    <table class="footable table table-striped" data-page-size="15" data-filter=#filter>
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Select</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each getUsers}}
                        <tr>
                          <td><a href="/settings/user/{{_id}}">{{this.username}}</a></td>
                          <td><input type="checkbox" id="{{_id}}" name="{{_id}}"></td>
                        </tr>
                        {{/each}}
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="5">
                            <ul class="pagination pull-right hide-if-no-paging"></ul>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Create new Users</h5>
          {{>iboxTools}}
        </div>
        <div class="ibox-content">
          <form id="form-create-user" class="form-horizontal">
            <div class="form-group"><label class="col-sm-2 control-label">Username</label>
              <div class="col-sm-4"><input type="text" id="username" class="form-control" required autofocus></div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">Password</label>
              <div class="col-sm-4"><input type="password" id="password" class="form-control" required></div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-white" type="submit">Cancel</button>
                <button class="btn btn-primary" type="submit">Save changes</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="settingsUserDetails">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Details for user {{username}}</h5>
          {{>iboxTools}}
        </div>
        <div class="ibox-content">
          <form id="user-form" class="form-horizontal">
            <div class="form-group"><label class="col-sm-2 control-label">Username </label>
              <div class="col-sm-4"><input type="text" value="{{username}}" class="form-control" disabled></div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">Created </label>
              <div class="col-sm-4"><input type="text" value="{{createdAt}}" class="form-control" disabled></div>
            </div>
            {{#each listRoles roles}}
              <div class="form-group"><label class="col-sm-2 control-label">{{group}}</label>
                <div class="col-sm-6">
                  <select id="{{this}}" class="form-control col-sm-2" multiple>
                    {{#each role}}
                    <option id="{{this}}" value="{{this}}">{{this}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            {{/each}}
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="settingsGroup">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Welcome to HoneyB Group Manager</h5>
          {{>iboxTools}}
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Current Users</h3>
                </div>
                <div class="panel-body">
                  <form id="user-list" class="form-horizontal">
                    {{> footableSearchBox}}
                    <table class="footable table table-striped" data-page-size="15" data-filter=#filter>
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Select</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each getGroups}}
                        <tr>
                          <td><a href="/settings/group/{{_id}}">{{this.name}}</a></td>
                          <td><input type="checkbox" id="{{_id}}" name="{{_id}}"></td>
                        </tr>
                        {{/each}}
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="5">
                            <ul class="pagination pull-right hide-if-no-paging"></ul>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <form id="form-create-group" class="form-horizontal">
            <h2 class="form-signin-heading">Create a New Group</h2>
            <div class="form-group"><label class="col-sm-2 control-label">Group Name </label>
              <div class="col-sm-4"><input type="text" value="Group" class="form-control"></div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-white" type="submit">Cancel</button>
                <button class="submit btn btn-primary">Create!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="settingsCurrent">
  <form id="myProfile" class="myProfile">
    My Profile: <br>
    Advanced:
    <select class="profileAdvanced" id="profileAdvanced" name="profileAdvanced">
      {{#if currentUser.profile.advanced}}
        <option value="0">No</option>
        <option selected="1" value="1">Yes</option>
      {{else}}
        <option selected="0" value="0">No</option>
        <option value="1">Yes</option>
      {{/if}}
    </select>
    <button name="submit" value="submit" id="submit">Update</button>
  </form>
</template>

<template name="settingsRoles">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Welcome to HoneyB Group Manager</h5>
          {{>iboxTools}}
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Current Users</h3>
                </div>
                <div class="panel-body">
                  <form id="user-list" class="form-horizontal">
                    {{> footableSearchBox}}
                    <table class="footable table table-striped" data-page-size="15" data-filter=#filter>
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Select</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each getRoles}}
                        <tr>
                          <td><a href="/settings/roles/{{name}}">{{this.name}}</a></td>
                          <td><input type="checkbox" id="{{_id}}" name="{{_id}}"></td>
                        </tr>
                        {{/each}}
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="5">
                            <ul class="pagination pull-right hide-if-no-paging"></ul>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <form id="form-create-group" class="form-horizontal">
            <h2 class="form-signin-heading">Create a New Group</h2>
            <div class="form-group"><label class="col-sm-2 control-label">Group Name </label>
              <div class="col-sm-4"><input type="text" value="Group" class="form-control"></div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-white" type="submit">Cancel</button>
                <button class="submit btn btn-primary">Create!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="settingsRolesDetails">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Welcome to HoneyB Object Container Manager</h5>
          {{>iboxTools}}
        </div>
        <div class="ibox-content">
          <form id="update-permissions" class="form-horizontal">
            <input type="hidden" id="role" value="{{onRole}}">
            <center>
              <h3>Manage Permissions for Role: {{onRole}}</h3>
            </center>
            <div class="row">
              <div class="col-md-5">
                Assigned Permissions
                <select id="assigned-list" class="form-control col-sm-2" size="20" multiple>
                  {{#each assigned onRole}}
                  <option value="{{this.permission}}">{{this.permission}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="col-md-2">
                <center>
                  <button id="to-the-left"><i class="fa fa-chevron-left"></i></button>
                  <button id="to-the-right"><i class="fa fa-chevron-right"></i></button>
                  <br>
                  <br>
                  <button class="submit btn btn-primary">Update</button>
                </center>
              </div>
              <div id="right" class="col-md-5 monitor-list">
                Available Permissions
                <select id="available-list" class="form-control col-sm-2" size="20" multiple>
                  {{#each unassigned onRole}}
                  <option value="{{this}}">{{this}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="settingsContainers">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Welcome to HoneyB Object Container Manager</h5>
          {{>iboxTools}}
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Current Containers</h3>
                </div>
                <div class="panel-body">
                  <form id="user-list" class="form-horizontal">
                    {{> footableSearchBox}}
                    <table class="footable table table-striped" data-page-size="15" data-filter=#filter>
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Select</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each getRoles}}
                        <tr>
                          <td><a href="/settings/roles/{{name}}">{{this.name}}</a></td>
                          <td><input type="checkbox" id="{{_id}}" name="{{_id}}"></td>
                        </tr>
                        {{/each}}
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="5">
                            <ul class="pagination pull-right hide-if-no-paging"></ul>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <form id="form-create-container" class="form-horizontal">
            <h2 class="form-signin-heading">Create a New Container</h2>
            <div class="form-group"><label class="col-sm-2 control-label">Container Name </label>
              <div class="col-sm-4"><input type="text" value="Group" class="form-control"></div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-white" type="submit">Cancel</button>
                <button class="submit btn btn-primary">Create!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="login">
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>
        <h1 class="logo-name">&#128029;</h1>
      </div>
      {{#if errorMessages}}
      <div class="animated fadeIn">
      {{#each errorMessages}}
      <div class="alert alert-danger alert-dismissable">
          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
          {{this}}
      </div>
      {{/each}}
      </div>
      {{/if}}
      <h3>Welcome to HoneyB.io BIG-IP manager</h3>
      <form id="form-signin" class="m-t" role="form" action="/">
        <div class="form-group">
          <input type="text" id="username" class="form-control" placeholder="Username" required="">
        </div>
        <div class="form-group">
          <input type="password" id="password" class="form-control" placeholder="Password" required="">
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
      </form>
      <p class="m-t"> <small>&copy; honeyb.io & bespintech.com 2015</small> </p>
    </div>
  </div>
</template>
