<template name="home">
  <div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-3">
      <h2>Welcome {{currentUser.username}}</h2>
      <small>Welcome to honeyb &#128029; f5 BIG-IP manager!</small>
      {{#if getDevices}}
        {{> jobList}}
      {{else}}
        {{> gettingStarted}}
      {{/if}}
    </div>
    <div class="col-sm-6">
      <div class="flot-chart dashboard-chart">
        <div class="flot-chart-content" id="flot-dashboard-chart"></div>
      </div>
      <div class="row text-left">
        <div class="col-xs-4">
          <div class=" m-l-md">
            <span class="h4 font-bold m-t block">125</span>
            <small class="text-muted m-b block">Virtual Servers</small>
          </div>
        </div>
        <div class="col-xs-4">
          <span class="h4 font-bold m-t block">125</span>
          <small class="text-muted m-b block">Pools</small>
        </div>
        <div class="col-xs-4">
          <span class="h4 font-bold m-t block">500</span>
          <small class="text-muted m-b block">Wideips</small>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="statistic-box">
        <h4>
          Some Status stuff
        </h4>
        <p>
          A task here and there.
        </p>
        <div class="row text-center">
          <div class="col-lg-6">
            <canvas id="polarChart" width="80" height="80"></canvas>
            <h5>LTM</h5>
          </div>
          <div class="col-lg-6">
            <canvas id="doughnutChart" width="78" height="78"></canvas>
            <h5>ASM</h5>
          </div>
        </div>
        <div class="m-t">
          <small>Blah blah F5 is cool</small>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="gettingStarted">
  <ul class="list-group clear-list m-t">
    Need help getting started with honeyb? <a href='/settings/gettingstarted'>Use the configuration Wizard</a>
  </ul>
</template>

<template name="jobList">
    <ul class="list-group clear-list m-t">
        {{#each latestJobs}}
            {{> jobElement}}
        {{/each}}
    </ul>
</template>

<template name="settingsGettingstarted">
  {{> pageHeading title='Configuring honeyb' category='Getting Started' }}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Configure your HoneyB Deployment</h5>
            {{>iboxTools}}
          </div>
          <div class="ibox-content">
            <h2>
              Setup Wizard
            </h2>
            <p>
              A simple way to set up your HoneyB BIGIP manager.
            </p>
            <form id="form" action="#" class="wizard-big">
              <h1>General Info</h1>
              <fieldset>
                <h2>Networking Information</h2>
                <p>
                  Assign IP Subnets for automatic Application Deployment through Honeyb.
                </p>
                <div class="row">
                  <div class="col-lg-8">
                    <div class="form-group">
                      <label>Subnet range in / notation </label>
                      <input id="appName" name="appname" type="text">
                    </div>
                    <div class="form-group">
                      <label>Subnet range in / notation </label>
                      <input id="appName" name="appname" type="text">
                    </div>
                    <div class="form-group">
                      <label>Application Hostname *</label>
                      <input id="appHost" name="appHost" type="text">
                    </div>
                    <div class="form-group">
                      <label>Application Type</label>
                      <select id="appType" name="appType">
                        <option selected="https" value="https">HTTPS (Secure)</option>
                        <option value="http">HTTP (Not Recommended: No encryption)</option>
                        <option value="tcp">Non-HTTP (Mail, FTP, Other)</option>
                      </select>
                    </div>
                  </div>
                <div class="col-lg-4">
                  <div class="text-center">
                    <div style="margin-top: 20px">
                      <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <h1>User Management</h1>
            <fieldset>
              <h2>Configure new Users</h2>
              <div class="row">
                <div class="col-lg-6">
                  <div class="checkbox">
                    <input type="checkbox" id="checkbox1" checked>
                    <label for="checkbox1">
                        Configure LDAP?
                    </label>
                  </div>
                  <div class="hr-line-dashed"></div>
                    <div class="form-group">
                      <label>User Type</label>
                      <select id="appType" name="appType">
                        <option selected="admin" value="admin">Admin</option>
                        <option value="guest">Guest</option>
                        <option value="approver">Change Approver</option>
                      </select>
                    </div>
                  <div>
                    <label>User name</label>
                    <input id="name" name="name" type="text" class="form-control required">
                  </div>
                  <div>
                    <label>Password</label>
                    <input id="name" name="name" type="text" class="form-control required">
                  </div>
                </div>
            </div>
            </fieldset>
            <h1>Warning</h1>
            <fieldset>
              <div class="text-center" style="margin-top: 120px">
                <h2>You did it Man :-)</h2>
              </div>
            </fieldset>
            <h1>Finish</h1>
            <fieldset>
              <h2>Terms and Conditions</h2>
              <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
            </fieldset>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</template>

<template name="jobElement">
    <li class="list-group-item">
        <span class="pull-right">
            {{progress}}%
        </span>
        <span class="label label-{{labelClass}}">{{name}}</span> {{status}}
    </li>
</template>


<template name="support">
  <div class="container">
    <center>
      <h1>Contact anni@honeyb.io for support on honeyB</h1>
    </center>
  </div>
</template>

<template name="about">
  <div class="container">
  </div>
</template>

<template name="archives">
  <div class="container">
  </div>
</template>
