<template name="home">
  {{#if getDevices}}
  <div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-3">
      <h2>Welcome {{currentUser.username}}</h2>
      <small>Welcome to honeyb &#128029; f5 BIG-IP manager!</small>
      {{> jobList}}
    </div>
    {{> homeChart}}
  </div>
  {{else}}
    {{> gettingStarted}}
  {{/if}}
</template>

<template name="homeChart">
  <div class="col-sm-6">
    <div class="row text-left">

    </div>
  </div>
  <div class="col-sm-3">
    <div class="statistic-box">


    </div>
  </div>
</template>

<template name="gettingStarted">
  <div>
    {{> gettingStartedWizard}}
  </div>
</template>

<template name="jobList">
    <ul class="list-group clear-list m-t">
        {{#each latestJobs}}
            {{> jobElement}}
        {{/each}}
    </ul>
</template>


<template name="displayForm">

</template>

<template name="jobElement">
    <li class="list-group-item">
        <span class="pull-right">
            {{progress}}%
        </span>
        <span class="label label-{{labelClass}}">{{name}}</span> {{status}}
    </li>
</template>


<template name="support">
  <div class="container">
    <center>
      <h1>Contact support@honeyb.io for support on honeyB</h1>
    </center>
  </div>
</template>

<template name="about">
  <div class="container">
  </div>
</template>

<template name="archives">
  <div class="container">
  </div>
</template>
