<template name="dashboardsDeviceHealth">
  {{> pageHeading title='Device Health' }}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      {{#each getDevices}}
      {{#if restEnabled}}
      <div class="col-lg-3">
        <div class="widget style1 {{getColor this.cpuUsage.fiveMinAvgIdle}}">
          <div class="row">
            <div class="col-xs-4">
              <i class="fa fa-tachometer fa-5x"></i>
            </div>
            <div class="col-xs-8 text-right">
              <span> {{this.self.name}} </span>
              <h2 class="font-bold">{{getUsage this.cpuUsage.fiveMinAvgIdle}} % CPU</h2>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
      {{#if getIhealth this.self.name}}
      <div class="col-lg-3">
        <div class="widget style1 {{getiHealthColor this.self.name}}">
          <div class="row">
            <div class="col-xs-4">
              <i class="fa fa-heart fa-5x"></i>
            </div>
            <div class="col-xs-8 text-right">
              <span>{{this.self.name}} iHealth</span>
              <h2 class="font-bold">{{getIhealth this.self.name}} Diagnostics</h2>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</template>

<template name="dashboardsAppview">
  {{> pageHeading title='Dashboards' category='AppView' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      {{#each allApplications}}
        {{> applicationList}}
      {{/each}}
    </div>
  </div>
</template>

<template name="applicationList">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Application {{name}} <small class="m-l-sm">blah blah blah</small></h5>
        {{>iboxTools}}
      </div>
      <div class="ibox-content">
        Wideip/Application URL: <a href="/gtm/wideips/{{_id}}">{{name}}</a>
        <ul>
          {{#each pools}}
            {{> appGPoolList}}
          {{/each}}
        </ul>
      </div>
      <div class="ibox-footer"></div>
    </div>
  </div>
</template>

<template name="appGPoolList">
  <li>GTM Pool: --> <a href="/gtm/pools/{{pool_id}}">{{name}}</a></li>
  {{#each members}}
    {{> gtmPMembers}}
  {{/each}}
</template>

<template name="gtmPMembers">
  <li>GTM Pool Member (VIP): ---> <a href="/gtm/pmembers/{{pmember_id}}">{{fullPath}}</a></li>
  <li>App IP: {{getDest fullPath}}</li>
  <ul>
  {{#each ltmVips fullPath}}
    {{> vipList}}
  {{/each}}
  </ul>
</template>

<template name="vipList">
  <li><img src="/{{statusImg}}"><a href="/ltm/virtuals/{{_id}}">{{name}}</a> - {{destination}}</li>
  <ul>
    <li>Profiles:
      {{#if profileList}}
      <ul>
        {{#each profileList}}
          <li><a href="/ltm/profiles/{{profile_id}}">{{fullPath}}</a> </li>
        {{/each}}
      </ul>
      {{else}}
        none
      {{/if}}
    </li>
    <li>Pools:
      {{#if pool}}
      <ul>
        {{#with getPool onDevice pool}}
          <li> {{> poolDisplay}} </li>
        {{/with}}
      </ul>
      {{else}}
        None
      {{/if}}
    </li>
  </ul>
</template>

<template name="poolDisplay">
  <img src="/{{statusImg}}"><a href="/ltm/pools/{{_id}}">{{name}}</a>
  <ul>
    {{> member}}
  </ul>
</template>

<template name="member">
  {{#each members}}
    {{> memberList}}
  {{/each}}
</template>

<template name="memberList">
  <li><img src="/{{statusImg}}">{{name}}</li>
</template>


<template name="dashboardsAdcthroughput">
  {{> pageHeading title='Dashboards' category='ADC Stats' }}
  <div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Network Throughput {{name}} <small class="m-l-sm">All of your devices</small></h5>
            {{>iboxTools}}
          </div>
          <div class="ibox-content">
            <canvas id="adcChart" height="300"></canvas>
          </div>
          <div class="ibox-footer"></div>
        </div>
      </div>
      {{#each getSyncgroups}}
          {{> syncGroupList}}
      {{/each}}
    </div>
  </div>
</template>

<template name="syncGroupList">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Sync Group: <a href="/gtm/syncgroups/{{_id}}">{{synchronizationGroupName}}</a> <small class="m-l-sm">A set of GTMs</small></h5>
        {{>iboxTools}}
        <div class="ibox-content">
          {{#each getDatacenters _id}}
          <li>{{> datacenterList}}</li>
          {{/each}}
        </div>
        <div class="ibox-footer"></div>
      </div>
    </div>
  </div>
</template>

<template name="datacenterList">
  <img src="/{{statusImg}}"><a href="/gtm/datacenters/{{_id}}">{{name}}</a>
  Bits/Sec in: {{stats.bpsIn}} - Bits/Sec out: {{stats.bpsOut}} - Connections: {{stats.connections}}
  <br>
  <ul>
    {{#each getServers fullPath}}
      <li>{{> serverList}}</li>
    {{/each}}
  </ul>
</template>

<template name="serverList">
  <img src="/{{statusImg}}"><a href="/gtm/servers/{{_id}}">{{name}}</a>
  Bits/Sec in: {{stats.bpsIn}} - Bits/Sec out: {{stats.bpsOut}} - Connections: {{stats.connections}}
  <ul>
    {{#each getVservers _id}}
      <li>{{> vserverList}}</li>
    {{/each}}
  </ul>
</template>

<template name="vserverList">
  <img src="/{{statusImg}}"><a href="/gtm/vservers/{{_id}}">{{name}}</a> -
  Bits/Sec in: {{stats.bpsIn}} - Bits/Sec out: {{stats.bpsOut}} - Connections: {{stats.connections}}
  <br>
</template>

<template name="dashboardsMap">
  {{> pageHeading title='Connection Map' }}
  <div class="wrapper wrapper-content animated fadeInRight">
    {{#each getDevices}}
    {{#if restEnabled}}
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Connection Map<small class="m-l-sm">{{this.self.name}} </small></h5>
            {{>iboxTools}}
            <div class="ibox-content">
            {{> eachMap}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    {{/each}}
  </div>
</template>

<template name="eachMap">
  <h2>Connection Map</h2>
  <small>Connections to your BIG-IP</small>
  <div id="world-map-{{_id}}" style="height: 300px;"></div>
</template>
