<template name="settingsTest">
  {{this.data}}
  poo
</template>

<template name="settingsHoneyb">
  <h2>HoneyB Settings</h2>
  {{> pageHeading title='Settings' category='honeyb' }}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox collapsed float-e-margins">
          <div class="ibox-title"><h5>honeyb System Settings</h5>{{>iboxTools}}</div>
          <div class="ibox-content">
            <form id="system-settings" class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">System Display Name</label>
                <div class="col-sm-4"><input type="text" id="honeyName" value="{{name}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">iHealth Statistics Refresh</label>
                <div class="col-sm-4">
                  <select id="ihealthFreq" class="form-control m-b" name="archives">
                    <option value="nightly">Nightly @6am</option>
                    <option value="otherNightly">Each Other Night @6am</option>
                    <option value="weekly">Sunday @6am</option>
                  </select>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">iHealth User</label>
                <div class="col-sm-4"><input type="text" id="ihealthUser" value="{{ihealthUser}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">iHealth Password</label>
                <div class="col-sm-4"><input type="password" id="ihealthPass" value="{{ihealthPass}}" class="form-control"></div>
              </div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-white" type="submit">Cancel</button>
                  <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="ibox collapsed float-e-margins">
          <div class="ibox-title"><h5>BIG-IP Real-Time Data Interval Settings</h5>{{>iboxTools}}</div>
          <div class="ibox-content">
            <form id="interval-settings" class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">GTM Datacenter (seconds)</label>
                <div class="col-sm-4"><input type="text" id="updateGtmDc" value="{{msecToSec interval.updateGtmDc}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">GTM Servers (seconds)</label>
                <div class="col-sm-4"><input type="text" id="updateGtmServer" value="{{msecToSec interval.updateGtmServer}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">GTM Virtuals (seconds)</label>
                <div class="col-sm-4"><input type="text" id="updateGtmVserver" value="{{msecToSec interval.updateGtmVserver}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">LTM Virtuals (seconds)</label>
                <div class="col-sm-4"><input type="text" id="updateLtmVirtual" value="{{msecToSec interval.updateLtmVirtual}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">LTM Pools (seconds)</label>
                <div class="col-sm-4"><input type="text" id="updateLtmPool" value="{{msecToSec interval.updateLtmPool}}" class="form-control"></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label">LTM Pool Members (seconds)</label>
                <div class="col-sm-4"><input type="text" id="updateLtmPoolMember" value="{{msecToSec interval.updateLtmPoolMember}}" class="form-control"></div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-white" type="submit">Cancel</button>
                  <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="ibox collapsed float-e-margins">
          <div class="ibox-title"><h5>Archive & iHealth Schedule Settings</h5>{{>iboxTools}}</div>
          <div class="ibox-content">
            <form id="scheduler" class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">Archive Schedule:</label>
                <div class="col-sm-4">
                  <select class="form-control m-b" name="archives">
                    <option value="nightly">Nightly @2am</option>
                    <option value="weekly">Each Sat @2am</option>
                    <option value="biweekly">1st & 15th @2am</option>
                    <option value="monthly">15th @2am</option>
                  </select>
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group"><label class="col-sm-2 control-label">iHealth/QKView Creation Schedule:</label>
                <div class="col-sm-4">
                  <select class="form-control m-b" name="archives">
                    <option value="weekly">Sat @2am</option>
                    <option value="biweekly">1st & 15th @2am</option>
                    <option value="monthly">15th @2am</option>
                  </select>
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-white" type="submit">Cancel</button>
                  <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="ibox collapsed float-e-margins">
          <div class="ibox-title"><h5>SSH Settings</h5>{{>iboxTools}}</div>
          <div class="ibox-content">
            <form id="ssh-settings" class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">SSH Key Name: {{keyName.name}}</label>
                <div class="col-sm-8"><textarea name="sshPubKey">{{keyName.pub}}</textarea></div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-primary" type="submit">Create SSH Key</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="ibox collapsed float-e-margins">
          <div class="ibox-title"><h5>Change Management Settings</h5>{{>iboxTools}}</div>
          <div class="ibox-content">
            <form id="change-settings" class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <label class="checkbox-inline i-checks">
                    <input type="checkbox" id="changeControl">Enable Change Control & Staging
                  </label>
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-white" type="submit">Cancel</button>
                  <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="logout">
  <div class="container">
    {{#if currentUser}}
      <h2>Signing Out...</h2>
    {{else}}
      <h2>Successfully logged out, click login to sign in again</h2><br>
    {{/if}}
  </div>
</template>

<template name="settingsUser">
  <div class="container">
    Welcome, {{currentUser.username}}! Here you can manage your honeyb deployment.
    <br>
    <form id="form-signin" class="form-signin">
      <h2 class="form-signin-heading">Create a New User</h2>
      <input type="text" id="username" class="form-control" placeholder="Username" required autofocus><br>
      <input type="password" id="password" class="form-control" placeholder="Password" required><br>
      <button class="submit btn btn-lg btn-primary btn-block" id="submit">Create!</button>
    </form>
    <h2>Current Users</h2><br>
    <form id="userList" class="userList">
      <ul>
        {{#each allUsers}}
          <li>{{this.username}}</li>
        {{/each}}
      </ul>
    </form>
    <form id="myProfile" class="myProfile">
    My Profile: <br>
    Advanced:
    <select class="profileAdvanced" id="profileAdvanced" name="profileAdvanced">
      {{#if currentUser.profile.advanced}}
        <option value="0">No</option>
        <option selected="1" value="1">Yes</option>
      {{else}}
        <option selected="0" value="0">No</option>
        <option value="1">Yes</option>
      {{/if}}
    </select>
    <button name="submit" value="submit" id="submit">Update</button>
    </form>
  </div>
</template>

<template name="settingsRoles">
  <div class="container">
  <center>
    <h3>Roles</h3>
  </center>
  <ul>
    {{#each getRoles}}
      <li><a href="/settings/roles/{{_id}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
  <form class="roleForm">
    <input type="text" name="roleName" id="roleName"><br>
    <button class="submit" id="submit">Create New Role</button>
  </form>
</div>
</template>

<template name="settingsRolesDetails">
  <div class="container">
    <form>
    <center>
      <h3>Role: {{name}}</h3>
    </center>
    Permissions for roles:
    <div id="permissionDrop" class="col-md-8">
      Add Permissions Below:
      <ul>
        {{#each getRolePermissions}}
          <li><div class="perm-box"><input type="hidden" id="permission" name="permission" value="{{permission}}">{{this}}</div></li>
        {{/each}}
      </ul>
    </div>
  </form>
  <div id="right" class="col-md-4 monitor-list">
    List of Permissions
    {{perms}}
          <div class="perm-box"><input type="hidden" id="permission" name="permission" value="{{permission}}">{{this.permission}}</div>
  </div>
  </div>
</template>

<template name="settingsContainers">
  <div class="container">
    <center>
      <h3>Object Containers: </h3>
    </center>
    Containers are groups of obects that you give access roles to. For instance,
     if you want to allow an app owner to modify their own pool, create a new container
     and add their pool to the container. Then add their user as admin of that pool.
  </div>
</template>
