<template name="devicesSearchBox">
  <div>
  {{> EasySearch.Input index=devicesIndex}}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Device Name</th>
        <th>Device IP</th>
        <th>Failover State</th>
        <th>Link to GUI</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
    {{#EasySearch.Each index=devicesIndex}}
      <tr>
        <th><a href="/devices/{{_id}}">{{self.name}}</a></th>
        <th>{{mgmtAddress}}</th>
        <th>{{self.failoverState}}</th>
        <th><a href="https://{{mgmtAddress}}/" target="_blank">Open Management Console</a></th>
        <th><input type="checkbox" id="{{this._id}}" name="{{this._id}}"></th>
      </tr>
      {{/EasySearch.Each}}
    </tbody>
  </table>
</template>


<template name="certificatesSearchBox">
  {{> EasySearch.Input index=certificatesIndex}}
  <ul>
    {{#EasySearch.Each index=certificatesIndex}}
      test
    {{/EasySearch.Each}}
  </ul>
</template>

<template name="rulesSearchBox">
  <div>
    {{> EasySearch.Input index=rulesIndex}}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>iRule Name</th>
        <th>On BIG-IP</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
      {{#EasySearch.Each index=rulesIndex}}
        <tr>
          <th><a href="/ltm/rules/{{_id}}">{{name}}</a></th>
          <th>{{getOnDevice this.onDevice}}</th>
          <th><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></th>
        </tr>
      {{/EasySearch.Each}}
    </tbody>
  </table>
</template>


<template name="poolsSearchBox">
  <div>

  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Pool Name</th>
        <th>On BIG-IP</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
    {{#EasySearch.Each index=poolsIndex}}
    <tr>
      <th><img src="/{{statusImg}}"></th>
      <th><a href="/ltm/pools/{{_id}}">{{name}}{{#if deleted}}(In Trash Bin){{/if}}</a></th>
      <th>{{getOnDevice this.onDevice}}</th>
      <th><input type="checkbox" id="{{_id}}" name="{{_id}}"></th>
    </tr>
    {{/EasySearch.Each}}
  </tbody>
</table>
</template>


<template name="nodesSearchBox">
  {{> EasySearch.Input index=nodesIndex}}
  <ul>
    {{#EasySearch.Each index=nodesIndex}}
      test
    {{/EasySearch.Each}}
  </ul>
</template>


<template name="monitorsSearchBox">
  <div class="form-group"><label class="col-sm-2 control-label">Search: </label>
    <div class="col-sm-2">{{> EasySearch.Input index=monitorsIndex}}</div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Monitor Name</th>
        <th>On BIG-IP</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
      {{#EasySearch.Each index=monitorsIndex}}
      {{#unless deleted}}
      <tr>
        <th><a href="/ltm/monitors/{{type}}/{{_id}}">{{name}}</a></th>
        <th>{{getOnDevice this.onDevice}}</th>
        <th><input type="checkbox" id="{{_id}}" name="{{_id}}"></th>
      </tr>
      {{/unless}}
      {{/EasySearch.Each}}
    </tbody>
  </table>
</template>


<template name="gtmsyncgroupsSearchBox">
  <div>
    {{> EasySearch.Input index=gtmsyncgroupsIndex}}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>GTM Syncgroup Name</th>
        <th>Peer Leader</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
    {{#EasySearch.Each index=gtmsyncgroupsIndex}}
    <tr>
      <th><a href="/gtm/syncgroups/{{_id}}">{{synchronizationGroupName}}</a></th>
      <th>{{this.peerLeader}}</th>
      <th><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></th>
    </tr>
    {{/EasySearch.Each}}
  </tbody>
</table>
</template>


<template name="gtmdatacentersSearchBox">
  <div>
    {{> EasySearch.Input index=gtmdatacentersIndex}}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>GTM Datacenter Name</th>
        <th>On Syncgroup</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
    {{#EasySearch.Each index=gtmdatacentersIndex}}
    <tr>
      <th><a href="/gtm/datacenters/{{_id}}">{{name}}</a></th>
      <th><a href="/gtm/syncgroup/{{inSyncGroup}}">{{getSyncGroup inSyncGroup}}</a></th>
      <th><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></th>
    </tr>
    {{/EasySearch.Each}}
  </tbody>
</table>
</template>


<template name="gtmserversSearchBox">
  <div>
    {{> EasySearch.Input index=gtmserversIndex}}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>GTM Server Name</th>
        <th>On Syncgroup</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
    {{#EasySearch.Each index=gtmserversIndex}}
    <tr>
      <th><a href="/gtm/servers/{{_id}}">{{name}}</a></th>
      <th><a href="/gtm/syncgroup/{{inSyncGroup}}">{{getSyncGroup inSyncGroup}}</a></th>
      <th><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></th>
    </tr>
    {{/EasySearch.Each}}
  </tbody>
</table>
</template>


<template name="gtmvserversSearchBox">
  <div>
    {{> EasySearch.Input index=gtmvserversIndex}}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>GTM Virtual Server Name</th>
        <th>On Syncgroup</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
    {{#EasySearch.Each index=gtmvserversIndex}}
    <tr>
      <th><a href="/gtm/vservers/{{_id}}">{{name}}</a></th>
      <th><a href="/gtm/syncgroup/{{inSyncGroup}}">{{getSyncGroup inSyncGroup}}</a></th>
      <th><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></th>
    </tr>
    {{/EasySearch.Each}}
  </tbody>
</table>
</template>


<template name="gtmlinksSearchBox">
  <div>
    {{> EasySearch.Input index=gtmlinksIndex}}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>GTM Link Name</th>
        <th>On Syncgroup</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
    {{#EasySearch.Each index=gtmlinksIndex}}
    <tr>
      <th><a href="/gtm/links/{{_id}}">{{name}}</a></th>
      <th><a href="/gtm/syncgroup/{{inSyncGroup}}">{{getSyncGroup inSyncGroup}}</a></th>
      <th><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></th>
    </tr>
    {{/EasySearch.Each}}
  </tbody>
</table>
</template>


<template name="gtmmonitorsSearchBox">
  <div>
    {{> EasySearch.Input index=gtmmonitorsIndex}}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>GTM Monitor Name</th>
        <th>On Syncgroup</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
    {{#EasySearch.Each index=gtmmonitorsIndex}}
    <tr>
      <th><a href="/gtm/monitors/{{_id}}">{{name}}</a></th>
      <th><a href="/gtm/syncgroup/{{inSyncGroup}}">{{getSyncGroup inSyncGroup}}</a></th>
      <th><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></th>
    </tr>
    {{/EasySearch.Each}}
  </tbody>
</table>
</template>


<template name="wideipsSearchBox">
  <div>
    {{> EasySearch.Input index=wideipsIndex}}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>GTM Wideip Name</th>
        <th>On Syncgroup</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
    {{#EasySearch.Each index=wideipsIndex}}
    <tr>
      <th><a href="/gtm/wideips/{{_id}}">{{name}}</a></th>
      <th><a href="/gtm/syncgroup/{{inSyncGroup}}">{{getSyncGroup inSyncGroup}}</a></th>
      <th><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></th>
    </tr>
    {{/EasySearch.Each}}
  </tbody>
</table>
</template>


<template name="widepoolsSearchBox">
  <div>
    {{> EasySearch.Input index=widepoolsIndex}}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>GTM Pool Name</th>
        <th>On Syncgroup</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
    {{#EasySearch.Each index=widepoolsIndex}}
    <tr>
      <th><a href="/gtm/pools/{{_id}}">{{name}}</a></th>
      <th><a href="/gtm/syncgroup/{{inSyncGroup}}">{{getSyncGroup inSyncGroup}}</a></th>
      <th><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></th>
    </tr>
    {{/EasySearch.Each}}
  </tbody>
</table>
</template>


<template name="idatagroupsSearchBox">
  <div>
    {{> EasySearch.Input index=idatagroupsIndex}}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Data Group Name</th>
        <th>On BIG-IP</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
      {{#EasySearch.Each index=idatagroupsIndex}}
        <tr>
          <th><a href="/ltm/idatagroups/{{_id}}">{{name}}</a></th>
          <th>{{getOnDevice this.onDevice}}</th>
          <th><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></th>
        </tr>
      {{/EasySearch.Each}}
    </tbody>
  </table>
</template>


<template name="edatagroupsSearchBox">
  {{> EasySearch.Input index=edatagroupsIndex}}
  <ul>
    {{#EasySearch.Each index=edatagroupsIndex}}
      test
    {{/EasySearch.Each}}
  </ul>
</template>


<template name="profilesSearchBox">
  <div>
    {{> EasySearch.Input index=profilesIndex}}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Profile Name</th>
        <th>Type</th>
        <th>On Device</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
    {{#EasySearch.Each index=profilesIndex}}
    <tr>
      <th><a href="/ltm/profiles/{{_id}}">{{name}}</a></th>
      <th>{{getOnDevice this.onDevice}}</th>
      <th><input type="checkbox" id="{{selfLink}}" name="{{selfLink}}"></th>
    </tr>
    {{/EasySearch.Each}}
  </tbody>
</table>
</template>


<template name="persistenceSearchBox">
  {{> EasySearch.Input index=persistenceIndex}}
  <ul>
    {{#EasySearch.Each index=persistenceIndex}}
      test
    {{/EasySearch.Each}}
  </ul>
</template>


<template name="statisticsSearchBox">
  {{> EasySearch.Input index=statisticsIndex}}
  <ul>
    {{#EasySearch.Each index=statisticsIndex}}
      test
    {{/EasySearch.Each}}
  </ul>
</template>


<template name="changesSearchBox">
  <div class="form-group"><label class="col-sm-2 control-label">Search: </label>
    <div class="col-sm-2">{{> EasySearch.Input index=changesIndex}}</div>
  </div>
  <div class="hr-line-dashed"></div>
  <table class="table">
    <thead>
      <tr>
        <th>Change Name</th>
        <th>Change User</th>
        <th>Data Commmitted</th>
      </tr>
    </thead>
    <tbody>
    {{#EasySearch.Each index=changesIndex}}
      <tr>
        <th><a href="/changes/{{_id}}">{{name}}</a></th>
        <th>{{mgmtAddress}}</th>
        <th>{{self.failoverState}}</th>
      </tr>
      {{/EasySearch.Each}}
    </tbody>
  </table>
  <div class="hr-line-dashed"></div>
</template>


<template name="changesetSearchBox">
  {{> EasySearch.Input index=changesetIndex}}
  <ul>
    {{#EasySearch.Each index=changesetIndex}}
      test
    {{/EasySearch.Each}}
  </ul>
</template>


<template name="settingsSearchBox">
  {{> EasySearch.Input index=settingsIndex}}
  <ul>
    {{#EasySearch.Each index=settingsIndex}}
      test
    {{/EasySearch.Each}}
  </ul>
</template>


<template name="ihealthSearchBox">
  {{> EasySearch.Input index=ihealthIndex}}
  <ul>
    {{#EasySearch.Each index=ihealthIndex}}
      test
    {{/EasySearch.Each}}
  </ul>
</template>

<template name="ihealthDiagSearchBox">
  {{> EasySearch.Input index=ihealthDiagIndex}}
  <ul>
    {{#EasySearch.Each index=ihealthDiagIndex}}
      test
    {{/EasySearch.Each}}
  </ul>
</template>

<template name="jobsSearchBox">
  {{> EasySearch.Input index=jobsIndex}}
  <ul>
    {{#EasySearch.Each index=jobsIndex}}
      test
    {{/EasySearch.Each}}
  </ul>
</template>

<template name="asmPoliciesSearchBox">
  {{> EasySearch.Input index=asmPoliciesIndex}}
  <ul>
    {{#EasySearch.Each index=asmPoliciesIndex}}
      <li><a href="/asm/policies/{{_id}}">{{this.name}}</a></li>
    {{/EasySearch.Each}}
  </ul>
</template>
