<template name="footableSearchBox">
  {{#with getFooData}}
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-1">
        <div class="btn-group">
          <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Action <span class="caret"></span></button>
          <ul class="dropdown-menu">
            {{#each link}}
            <li><a href="{{this.url}}" class="font-bold">{{this.name}}</a></li>
            {{/each}}
            {{#each actions}}
            <li><a href="#" id="{{this}}" class="font-bold">{{this}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-7">
        <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search {{objects}}...">
      </div>
    </div>
  </div>
  {{/with}}
</template>
